In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
csv_file = ('/content/drive/My Drive/Colab Notebooks/Capstone_Project/reduced_df.csv')

In [ ]:
data = pd.read_csv(csv_file, encoding = 'latin-1')
data = data.drop(columns=['Wages'])

In [ ]:
data.head(5)

,First Name,Last Name,Age,Nationality,Height,Weight,Team Name,League,Appearances,Lineups,...,Past Dribbles,Fouls Drawn,Fouls Committed,Yellow Cards,Red Cards,Penalties Won,Penalties Committed,Penalties Scored,Penalties Missed,Penalties Saved
0,Oleksandr,Zinchenko,27,Ukraine,175 cm,64 kg,Arsenal,Premier League,27,22,...,0,11,15,3,0,0,0,0,0,0
1,Thomas,Partey,30,Ghana,185 cm,77 kg,Arsenal,Premier League,33,28,...,0,23,37,5,0,0,0,0,0,0
2,Kai,Havertz,24,Germany,193 cm,83 kg,Arsenal,Premier League,12,30,...,0,0,60,5,0,0,0,1,0,0
3,Bukayo,Saka,22,England,178 cm,72 kg,Arsenal,Premier League,20,9,...,0,25,43,6,0,0,0,2,0,0
4,Leandro,Trossard,29,Belgium,172 cm,61 kg,Arsenal,Premier League,14,16,...,0,17,9,0,0,0,0,0,0,0

In [ ]:
data['Team Name'].unique()

array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds',
       'Leicester', 'Liverpool', 'Manchester City', 'Manchester United',
       'Newcastle', 'Nottingham Forest', 'Southampton', 'Tottenham',
       'West Ham', 'Wolves'], dtype=object)

In [ ]:
print(len(data['Team Name'].unique()))

20

Arsenal

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/arsenal-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_Arsenal = soup.find_all(name="span", class_="cap info")
Wages_list_Arsenal = []
for wage in Wages_Arsenal :
  wage_text = wage.getText()
  Wages_list_Arsenal.append(wage_text)

In [ ]:
final_arsenal_wages = Wages_list_Arsenal[::2]
print(final_arsenal_wages)

['£13,780,000 ', '£10,400,000 ', '£7,800,000 ', '£6,240,000 ', '£6,240,000 ', '£5,980,000 ', '£5,720,000 ', '£5,720,000 ', '£5,200,000 ', '£4,680,000 ', '£3,640,000 ', '£3,220,000 ', '£2,910,000 ', '£2,600,000 ', '£2,600,000 ', '£2,360,000 ', '£2,340,000 ', '£2,080,000 ', '£2,080,000 ', '£2,080,000 ', '£1,820,000 ', '£1,820,000 ', '£1,508,000 ', '£780,000 ', '£520,000 ', '- ', '£7,280,000', '£4,420,000', '£3,900,000', '£2,600,000', '£1,404,000', '£780,000', '£80,000', '-']

In [ ]:
Arsenal_Players = soup.select("tbody tr td a")
Arsenal_player_names = [player.getText() for player in Arsenal_Players]
print(Arsenal_player_names)

['Gabriel Jesus', 'Thomas Partey', 'Oleksandr Zinchenko', 'Ben White', 'Granit Xhaka', 'Martin Ødegaard', 'Jorge Luiz Frello Filho', 'Kieran Tierney', 'Edward Nketiah', 'Gabriel Martinelli', 'Bukayo Saka', 'Aaron Ramsdale', 'Takehiro Tomiyasu', 'Mohamed Elneny', 'Gabriel Magalhães', 'Fábio Vieira', 'Leandro Trossard', 'Rob Holding', 'William Saliba', 'Emile Smith Rowe', 'Ainsley Maitland-Niles', 'Matt Turner', 'Jakub Kiwior', 'Reiss Nelson', 'Karl Hein', 'Marcus Alencar', 'Nicolas Pepe', 'Pablo Marí', 'Cedric Soares', 'Albert Sambi Lokonga', 'Nuno Tavares', 'Rúnar Alex Rúnarsson', 'Arthur Okonkwo', 'Auston Trusty']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(Arsenal_player_names, final_arsenal_wages))]

# convert list of tuples to dictionary using dict()
arsenal_dict = dict(tuples)
print(arsenal_dict)

{'Gabriel Jesus': '£13,780,000 ', 'Thomas Partey': '£10,400,000 ', 'Oleksandr Zinchenko': '£7,800,000 ', 'Ben White': '£6,240,000 ', 'Granit Xhaka': '£6,240,000 ', 'Martin Ødegaard': '£5,980,000 ', 'Jorge Luiz Frello Filho': '£5,720,000 ', 'Kieran Tierney': '£5,720,000 ', 'Edward Nketiah': '£5,200,000 ', 'Gabriel Martinelli': '£4,680,000 ', 'Bukayo Saka': '£3,640,000 ', 'Aaron Ramsdale': '£3,220,000 ', 'Takehiro Tomiyasu': '£2,910,000 ', 'Mohamed Elneny': '£2,600,000 ', 'Gabriel Magalhães': '£2,600,000 ', 'Fábio Vieira': '£2,360,000 ', 'Leandro Trossard': '£2,340,000 ', 'Rob Holding': '£2,080,000 ', 'William Saliba': '£2,080,000 ', 'Emile Smith Rowe': '£2,080,000 ', 'Ainsley Maitland-Niles': '£1,820,000 ', 'Matt Turner': '£1,820,000 ', 'Jakub Kiwior': '£1,508,000 ', 'Reiss Nelson': '£780,000 ', 'Karl Hein': '£520,000 ', 'Marcus Alencar': '- ', 'Nicolas Pepe': '£7,280,000', 'Pablo Marí': '£4,420,000', 'Cedric Soares': '£3,900,000', 'Albert Sambi Lokonga': '£2,600,000', 'Nuno Tavares': '£1,404,000', 'Rúnar Alex Rúnarsson': '£780,000', 'Arthur Okonkwo': '£80,000', 'Auston Trusty': '-'}

Aston Villa

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/aston-villa-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_AV = soup.find_all(name="span", class_="cap info")
Wages_list_AV = []
for wage in Wages_AV :
  wage_text = wage.getText()
  Wages_list_AV.append(wage_text)

In [ ]:
final_AV_wages = Wages_list_AV[::2]
print(final_AV_wages)

['£7,800,000 ', '£6,500,000 ', '£6,240,000 ', '£6,240,000 ', '£5,200,000 ', '£5,200,000 ', '£4,680,000 ', '£4,160,000 ', '£4,160,000 ', '£4,160,000 ', '£3,900,000 ', '£3,900,000 ', '£3,900,000 ', '£3,640,000 ', '£2,600,000 ', '£2,600,000 ', '£1,820,000 ', '£1,560,000 ', '£1,560,000 ', '£1,040,000 ', '£1,040,000 ', '£4,056,000', '£2,496,000', '£2,340,000', '£1,820,000', '£1,560,000', '£1,040,000', '£420,000', '£360,000']

In [ ]:
AV_Players = soup.select("tbody tr td a")
AV_player_names = [player.getText() for player in AV_Players]
print(AV_player_names)

['Boubacar Kamara', 'Philippe Coutinho', 'Lucas Digne', 'Emiliano Martinez', 'Leon Bailey', 'Diego Carlos', 'Leander Dendoncker', 'Matty Cash', 'Tyrone Mings', 'Robin Olsen', 'Emiliano Buendía', 'Douglas Luiz', 'Ollie Watkins', 'Jacob Ramsey', 'Calum Chambers', 'John McGinn', 'Álex Moreno', 'Jhon Durán', 'Ezri Konsa', 'Ludwig Augustinsson', 'Jed Steer', 'Bertrand Traoré', 'Morgan Sanson', 'Keinan Davis', 'Wesley Moraes', 'Marvelous Nakamba', 'Cameron Archer', 'Kortney Hause', 'Jaden Philogene-Bidace', 'Danny Ings', 'Frederic Guilbert']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(AV_player_names, final_AV_wages))]

# convert list of tuples to dictionary using dict()
AV_dict = dict(tuples)
print(AV_dict)

{'Boubacar Kamara': '£7,800,000 ', 'Philippe Coutinho': '£6,500,000 ', 'Lucas Digne': '£6,240,000 ', 'Emiliano Martinez': '£6,240,000 ', 'Leon Bailey': '£5,200,000 ', 'Diego Carlos': '£5,200,000 ', 'Leander Dendoncker': '£4,680,000 ', 'Matty Cash': '£4,160,000 ', 'Tyrone Mings': '£4,160,000 ', 'Robin Olsen': '£4,160,000 ', 'Emiliano Buendía': '£3,900,000 ', 'Douglas Luiz': '£3,900,000 ', 'Ollie Watkins': '£3,900,000 ', 'Jacob Ramsey': '£3,640,000 ', 'Calum Chambers': '£2,600,000 ', 'John McGinn': '£2,600,000 ', 'Álex Moreno': '£1,820,000 ', 'Jhon Durán': '£1,560,000 ', 'Ezri Konsa': '£1,560,000 ', 'Ludwig Augustinsson': '£1,040,000 ', 'Jed Steer': '£1,040,000 ', 'Bertrand Traoré': '£4,056,000', 'Morgan Sanson': '£2,496,000', 'Keinan Davis': '£2,340,000', 'Wesley Moraes': '£1,820,000', 'Marvelous Nakamba': '£1,560,000', 'Cameron Archer': '£1,040,000', 'Kortney Hause': '£420,000', 'Jaden Philogene-Bidace': '£360,000'}

Brentford

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/brentford-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_brentford = soup.find_all(name="span", class_="cap info")
Wages_list_brentford = []
for wage in Wages_brentford :
  wage_text = wage.getText()
  Wages_list_brentford.append(wage_text)

In [ ]:
final_brentford_wages = Wages_list_brentford[::2]
print(final_brentford_wages)

['£2,860,000 ', '£2,340,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,560,000 ', '£1,560,000 ', '£1,560,000 ', '£1,300,000 ', '£1,300,000 ', '£1,300,000 ', '£1,300,000 ', '£1,092,000 ', '£1,040,000 ', '£1,040,000 ', '£1,040,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£520,000 ', '£280,000 ', '£250,000 ', '£208,000 ', '£1,300,000', '£420,000', '£416,000', '£260,000', '£170,000', '-', '-']

In [ ]:
brentford_Players = soup.select("tbody tr td a")
brentford_player_names = [player.getText() for player in brentford_Players]
print(brentford_player_names)

['Ben Mee', 'Bryan Mbeumo', 'Kristoffer Ajer', 'Rico Henry', 'Keane Lewis-Potter', 'Christian Nørgaard', 'Mikkel Damsgaard', 'Aaron Hickey', 'Vitaly Janelt', 'Pontus Jansson', 'Frank Onyeka', 'David Raya', 'Thomas Strakosha', 'Ivan Toney', 'Josh Dasilva', 'Mathias Jensen', 'Yoane Wissa', 'Shandon Baptiste', 'Saman Ghoddos', 'Ethan Pinnock', 'Mads Roerslev', 'Fin Stevens', 'Kevin Schade', 'Mads Bech Sørensen', 'Sergi Canós', 'Halil Dervişoğlu', 'Charlie Goode', 'Tariqe Fosu', 'Ellery Balcombe', 'Mads Bidstrup', 'Myles Peart-Harris']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(brentford_player_names, final_brentford_wages))]

# convert list of tuples to dictionary using dict()
brentford_dict = dict(tuples)
print(brentford_dict)

{'Ben Mee': '£2,860,000 ', 'Bryan Mbeumo': '£2,340,000 ', 'Kristoffer Ajer': '£1,820,000 ', 'Rico Henry': '£1,820,000 ', 'Keane Lewis-Potter': '£1,820,000 ', 'Christian Nørgaard': '£1,820,000 ', 'Mikkel Damsgaard': '£1,560,000 ', 'Aaron Hickey': '£1,560,000 ', 'Vitaly Janelt': '£1,560,000 ', 'Pontus Jansson': '£1,300,000 ', 'Frank Onyeka': '£1,300,000 ', 'David Raya': '£1,300,000 ', 'Thomas Strakosha': '£1,300,000 ', 'Ivan Toney': '£1,092,000 ', 'Josh Dasilva': '£1,040,000 ', 'Mathias Jensen': '£1,040,000 ', 'Yoane Wissa': '£1,040,000 ', 'Shandon Baptiste': '£780,000 ', 'Saman Ghoddos': '£780,000 ', 'Ethan Pinnock': '£780,000 ', 'Mads Roerslev': '£520,000 ', 'Fin Stevens': '£280,000 ', 'Kevin Schade': '£250,000 ', 'Mads Bech Sørensen': '£208,000 ', 'Sergi Canós': '£1,300,000', 'Halil Dervişoğlu': '£420,000', 'Charlie Goode': '£416,000', 'Tariqe Fosu': '£260,000', 'Ellery Balcombe': '£170,000', 'Mads Bidstrup': '-', 'Myles Peart-Harris': '-'}

Brighton and Hove Albion

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/brighton-hove-albion/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_BHA = soup.find_all(name="span", class_="cap info")
Wages_list_BHA = []
for wage in Wages_BHA :
  wage_text = wage.getText()
  Wages_list_BHA.append(wage_text)

In [ ]:
final_BHA_wages = Wages_list_BHA[::2]
print(final_BHA_wages)

['£4,700,000 ', '£3,900,000 ', '£3,120,000 ', '£2,860,000 ', '£2,860,000 ', '£2,660,000 ', '£2,600,000 ', '£2,080,000 ', '£2,000,000 ', '£1,820,000 ', '£1,300,000 ', '£1,040,000 ', '£1,040,000 ', '£780,000 ', '£780,000 ', '£520,000 ', '£520,000 ', '£520,000 ', '£260,000 ', '£2,080,000', '£1,520,000', '£1,300,000', '£1,196,000', '£1,070,000', '£1,040,000', '£780,000', '£650,000', '£624,000', '£260,000', '-', '-']

In [ ]:
BHA_Players = soup.select("tbody tr td a")
BHA_player_names = [player.getText() for player in BHA_Players]
print(BHA_player_names)

['Adam Lallana', 'Lewis Dunk', 'Pascal Gross', 'Adam Webster', 'Danny Welbeck', 'Pervis Estupiñán', 'Alexis Mac Allister', 'Solly March', 'Joel Veltman', 'Tariq Lamptey', 'Robert Sánchez', 'Billy Gilmour', 'Jason Steele', 'Facundo Buonanotte', 'Moises Caicedo', 'Julio Enciso', 'Kaoru Mitoma', 'Jakub Moder', 'Jan Paul van Hecke', 'Shane Duffy', 'Haydon Roberts', 'Andi Zeqiri', 'Aaron Connolly', 'Abdallah Sima', 'Kjell Scherpen', 'Steven Alzate', 'Simon Adingra', 'Michal Karbownik', 'Levi Colwill', 'Kacper Kozlowski', 'Deniz Undav', 'Leandro Trossard']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(BHA_player_names, final_BHA_wages))]

# convert list of tuples to dictionary using dict()
BHA_dict = dict(tuples)
print(BHA_dict)

{'Adam Lallana': '£4,700,000 ', 'Lewis Dunk': '£3,900,000 ', 'Pascal Gross': '£3,120,000 ', 'Adam Webster': '£2,860,000 ', 'Danny Welbeck': '£2,860,000 ', 'Pervis Estupiñán': '£2,660,000 ', 'Alexis Mac Allister': '£2,600,000 ', 'Solly March': '£2,080,000 ', 'Joel Veltman': '£2,000,000 ', 'Tariq Lamptey': '£1,820,000 ', 'Robert Sánchez': '£1,300,000 ', 'Billy Gilmour': '£1,040,000 ', 'Jason Steele': '£1,040,000 ', 'Facundo Buonanotte': '£780,000 ', 'Moises Caicedo': '£780,000 ', 'Julio Enciso': '£520,000 ', 'Kaoru Mitoma': '£520,000 ', 'Jakub Moder': '£520,000 ', 'Jan Paul van Hecke': '£260,000 ', 'Shane Duffy': '£2,080,000', 'Haydon Roberts': '£1,520,000', 'Andi Zeqiri': '£1,300,000', 'Aaron Connolly': '£1,196,000', 'Abdallah Sima': '£1,070,000', 'Kjell Scherpen': '£1,040,000', 'Steven Alzate': '£780,000', 'Simon Adingra': '£650,000', 'Michal Karbownik': '£624,000', 'Levi Colwill': '£260,000', 'Kacper Kozlowski': '-', 'Deniz Undav': '-'}

Chelsea

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/chelsea-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_Chelsea = soup.find_all(name="span", class_="cap info")
Wages_list_Chelsea = []
for wage in Wages_Chelsea :
  wage_text = wage.getText()
  Wages_list_Chelsea.append(wage_text)

In [ ]:
final_Chelsea_wages = Wages_list_Chelsea[::2]
print(final_Chelsea_wages)

['£16,900,000 ', '£15,340,000 ', '£15,080,000 ', '£13,000,000 ', '£10,400,000 ', '£9,880,000 ', '£9,360,000 ', '£9,100,000 ', '£8,320,000 ', '£8,190,000 ', '£7,800,000 ', '£7,800,000 ', '£7,800,000 ', '£6,240,000 ', '£5,720,000 ', '£5,720,000 ', '£5,200,000 ', '£5,200,000 ', '£5,200,000 ', '£5,200,000 ', '£4,680,000 ', '£4,160,000 ', '£2,860,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,340,000 ', '£2,340,000 ', '£2,080,000 ', '£1,820,000 ', '£1,040,000 ', '£16,900,000', '£6,240,000', '£6,240,000', '£5,720,000', '£4,470,000', '£1,560,000', '£520,000', '£390,000', '-', '-']

In [ ]:
Chelsea_Players = soup.select("tbody tr td a")
Chelsea_player_names = [player.getText() for player in Chelsea_Players]
print(Chelsea_player_names)

['Raheem Sterling', 'Kalidou Koulibaly', "N'Golo Kante", 'Reece James', 'Wesley Fofana', 'Ben Chilwell', 'César Azpilicueta', 'Marc Cucurella', 'Pierre-Emerick Aubameyang', 'Enzo Fernández', 'Kepa Arrizabalaga', 'Kai Havertz', 'Christian Pulisic', 'Ruben Loftus-Cheek', 'João Félix', 'Thiago Silva', 'Carney Chukwuemeka', 'David Fofana', 'Mateo Kovacic', 'Hakim Ziyech', 'Denis Zakaria', 'Mason Mount', 'Edouard Mendy', 'Trevoh Chalobah', 'Conor Gallagher', 'Noni Madueke', 'Mykhailo Mudryk', 'Benoit Badiashile', 'Malo Gusto', 'Armando Broja', 'Marcus Bettinelli', 'Gabriel Slonina', 'Romelu Lukaku', 'Callum Hudson-Odoi', 'Malang Sarr', 'Tiemoué Bakayoko', 'Baba Rahman', 'Nathan Baxter', 'Andrey Santos', 'Ethan Ampadu', 'Faustino Anjorin', 'Cesare Casadei', 'Jorge Luiz Frello Filho']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(Chelsea_player_names, final_Chelsea_wages))]

# convert list of tuples to dictionary using dict()
Chelsea_dict = dict(tuples)
print(Chelsea_dict)

{'Raheem Sterling': '£16,900,000 ', 'Kalidou Koulibaly': '£15,340,000 ', "N'Golo Kante": '£15,080,000 ', 'Reece James': '£13,000,000 ', 'Wesley Fofana': '£10,400,000 ', 'Ben Chilwell': '£9,880,000 ', 'César Azpilicueta': '£9,360,000 ', 'Marc Cucurella': '£9,100,000 ', 'Pierre-Emerick Aubameyang': '£8,320,000 ', 'Enzo Fernández': '£8,190,000 ', 'Kepa Arrizabalaga': '£7,800,000 ', 'Kai Havertz': '£7,800,000 ', 'Christian Pulisic': '£7,800,000 ', 'Ruben Loftus-Cheek': '£6,240,000 ', 'João Félix': '£5,720,000 ', 'Thiago Silva': '£5,720,000 ', 'Carney Chukwuemeka': '£5,200,000 ', 'David Fofana': '£5,200,000 ', 'Mateo Kovacic': '£5,200,000 ', 'Hakim Ziyech': '£5,200,000 ', 'Denis Zakaria': '£4,680,000 ', 'Mason Mount': '£4,160,000 ', 'Edouard Mendy': '£2,860,000 ', 'Trevoh Chalobah': '£2,600,000 ', 'Conor Gallagher': '£2,600,000 ', 'Noni Madueke': '£2,600,000 ', 'Mykhailo Mudryk': '£2,600,000 ', 'Benoit Badiashile': '£2,340,000 ', 'Malo Gusto': '£2,340,000 ', 'Armando Broja': '£2,080,000 ', 'Marcus Bettinelli': '£1,820,000 ', 'Gabriel Slonina': '£1,040,000 ', 'Romelu Lukaku': '£16,900,000', 'Callum Hudson-Odoi': '£6,240,000', 'Malang Sarr': '£6,240,000', 'Tiemoué Bakayoko': '£5,720,000', 'Baba Rahman': '£4,470,000', 'Nathan Baxter': '£1,560,000', 'Andrey Santos': '£520,000', 'Ethan Ampadu': '£390,000', 'Faustino Anjorin': '-', 'Cesare Casadei': '-'}

Crystal Palace

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/crystal-palace/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_CP = soup.find_all(name="span", class_="cap info")
Wages_list_CP = []
for wage in Wages_CP :
  wage_text = wage.getText()
  Wages_list_CP.append(wage_text)

In [ ]:
final_CP_wages = Wages_list_CP[::2]
print(final_CP_wages)

['£6,760,000 ', '£5,200,000 ', '£4,680,000 ', '£4,200,000 ', '£4,160,000 ', '£4,004,000 ', '£3,900,000 ', '£3,120,000 ', '£2,860,000 ', '£2,860,000 ', '£2,860,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,080,000 ', '£2,080,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,560,000 ', '£1,500,000 ', '£1,040,000 ', '£520,000', '£280,000', '£280,000']

In [ ]:
CP_Players = soup.select("tbody tr td a")
CP_player_names = [player.getText() for player in CP_Players]
print(CP_player_names)

['Wilfried Zaha', 'Michael Olise', 'Odsonne Edouard', 'Nathaniel Clyne', 'Joachim Andersen', 'Vicente Guaita', 'Luka Milivojevic', 'Cheick Doucouré', 'James McArthur', 'Chris Richards', 'Jairo Riedewald', 'Marc Guehi', 'Albert Sambi Lokonga', 'Jean-Philippe Mateta', 'Jeffrey Schlupp', 'James Tomkins', 'Sam Johnstone', 'Tyrick Mitchell', 'Jordan Ayew', 'Jack Butland', 'Will Hughes', 'Joel Ward', 'Eberech Eze', 'Nathan Ferguson', 'Naouirou Ahamada', 'Malcolm Ebiowei', 'Remi Matthews', 'Luke Plange']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(CP_player_names, final_CP_wages))]

# convert list of tuples to dictionary using dict()
CP_dict = dict(tuples)
print(CP_dict)

{'Wilfried Zaha': '£6,760,000 ', 'Michael Olise': '£5,200,000 ', 'Odsonne Edouard': '£4,680,000 ', 'Nathaniel Clyne': '£4,200,000 ', 'Joachim Andersen': '£4,160,000 ', 'Vicente Guaita': '£4,004,000 ', 'Luka Milivojevic': '£3,900,000 ', 'Cheick Doucouré': '£3,120,000 ', 'James McArthur': '£2,860,000 ', 'Chris Richards': '£2,860,000 ', 'Jairo Riedewald': '£2,860,000 ', 'Marc Guehi': '£2,600,000 ', 'Albert Sambi Lokonga': '£2,600,000 ', 'Jean-Philippe Mateta': '£2,600,000 ', 'Jeffrey Schlupp': '£2,600,000 ', 'James Tomkins': '£2,600,000 ', 'Sam Johnstone': '£2,080,000 ', 'Tyrick Mitchell': '£2,080,000 ', 'Jordan Ayew': '£1,820,000 ', 'Jack Butland': '£1,820,000 ', 'Will Hughes': '£1,820,000 ', 'Joel Ward': '£1,820,000 ', 'Eberech Eze': '£1,560,000 ', 'Nathan Ferguson': '£1,500,000 ', 'Naouirou Ahamada': '£1,040,000 ', 'Malcolm Ebiowei': '£520,000', 'Remi Matthews': '£280,000', 'Luke Plange': '£280,000'}

Everton

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/everton-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_everton = soup.find_all(name="span", class_="cap info")
Wages_list_everton = []
for wage in Wages_everton :
  wage_text = wage.getText()
  Wages_list_everton.append(wage_text)

In [ ]:
final_everton_wages = Wages_list_everton[::2]
print(final_everton_wages)

['£6,240,000 ', '£6,240,000 ', '£6,240,000 ', '£5,200,000 ', '£5,200,000 ', '£5,200,000 ', '£5,200,000 ', '£4,160,000 ', '£4,160,000 ', '£4,000,000 ', '£3,640,000 ', '£3,016,000 ', '£2,860,000 ', '£2,860,000 ', '£2,600,000 ', '£2,340,000 ', '£2,080,000 ', '£1,560,000 ', '£1,456,000 ', '£1,300,000 ', '£1,300,000 ', '£1,300,000 ', '£1,250,000 ', '£520,000 ', '£260,000 ', '- ', '£5,835,000', '£5,200,000', '£3,900,000', '£2,765,000', '£780,000', '£520,000', '£230,000', '-']

In [ ]:
everton_Players = soup.select("tbody tr td a")
everton_player_names = [player.getText() for player in everton_Players]
print(everton_player_names)

['Abdoulaye Doucouré', 'Alex Iwobi', 'Yerry Mina', 'Dominic Calvert-Lewin', 'Amadou Onana', 'Jordan Pickford', 'James Tarkowski', 'Idrissa Gueye', 'Michael Keane', 'Ben Godfrey', 'Mason Holgate', 'Vitaliy Mykolenko', 'Conor Coady', 'Seamus Coleman', 'Neal Maupay', 'Asmir Begovic', 'Andros Townsend', 'James Garner', 'Nathan Patterson', 'Tom Davies', 'Demarai Gray', 'Dwight McNeil', 'Ruben Vinagre', 'Anthony Gordon', 'Eldin Jakupovic', 'Ellis Simms', 'Andre Gomes', 'Dele Alli', 'Jean-Philippe Gbamin', 'Moise Kean', 'Jarrad Branthwaite', 'Joao Virginia', 'Niels Nkounkou', 'Nathan Broadhead', 'Salomon Rondon']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(everton_player_names, final_everton_wages))]

# convert list of tuples to dictionary using dict()
everton_dict = dict(tuples)
print(everton_dict)

{'Abdoulaye Doucouré': '£6,240,000 ', 'Alex Iwobi': '£6,240,000 ', 'Yerry Mina': '£6,240,000 ', 'Dominic Calvert-Lewin': '£5,200,000 ', 'Amadou Onana': '£5,200,000 ', 'Jordan Pickford': '£5,200,000 ', 'James Tarkowski': '£5,200,000 ', 'Idrissa Gueye': '£4,160,000 ', 'Michael Keane': '£4,160,000 ', 'Ben Godfrey': '£4,000,000 ', 'Mason Holgate': '£3,640,000 ', 'Vitaliy Mykolenko': '£3,016,000 ', 'Conor Coady': '£2,860,000 ', 'Seamus Coleman': '£2,860,000 ', 'Neal Maupay': '£2,600,000 ', 'Asmir Begovic': '£2,340,000 ', 'Andros Townsend': '£2,080,000 ', 'James Garner': '£1,560,000 ', 'Nathan Patterson': '£1,456,000 ', 'Tom Davies': '£1,300,000 ', 'Demarai Gray': '£1,300,000 ', 'Dwight McNeil': '£1,300,000 ', 'Ruben Vinagre': '£1,250,000 ', 'Anthony Gordon': '£520,000 ', 'Eldin Jakupovic': '£260,000 ', 'Ellis Simms': '- ', 'Andre Gomes': '£5,835,000', 'Dele Alli': '£5,200,000', 'Jean-Philippe Gbamin': '£3,900,000', 'Moise Kean': '£2,765,000', 'Jarrad Branthwaite': '£780,000', 'Joao Virginia': '£520,000', 'Niels Nkounkou': '£230,000', 'Nathan Broadhead': '-'}

Fulham

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/fulham-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_fulham = soup.find_all(name="span", class_="cap info")
Wages_list_fulham = []
for wage in Wages_fulham :
  wage_text = wage.getText()
  Wages_list_fulham.append(wage_text)

In [ ]:
final_fulham_wages = Wages_list_fulham[::2]
print(final_fulham_wages)

['£4,680,000 ', '£4,640,000 ', '£4,160,000 ', '£3,900,000 ', '£3,640,000 ', '£2,650,000 ', '£2,600,000 ', '£2,600,000 ', '£2,110,000 ', '£2,080,000 ', '£2,080,000 ', '£2,080,000 ', '£1,820,000 ', '£1,820,000 ', '£1,638,000 ', '£1,560,000 ', '£1,560,000 ', '£1,560,000 ', '£1,560,000 ', '£1,430,000 ', '£1,040,000 ', '£780,000 ', '£260,000 ', '- ', '£2,080,000', '£1,950,000', '£1,950,000', '£1,560,000', '£1,140,000', '£700,000', '£390,000', '£364,000', '-']

In [ ]:
fulham_Players = soup.select("tbody tr td a")
fulham_player_names = [player.getText() for player in fulham_Players]
print(fulham_player_names)

['Bernd Leno', 'Layvin Kurzawa', 'Aleksandar Mitrovic', 'Cedric Soares', 'Issa Diop', 'Kenny Tete', 'João Palhinha', 'Andreas Pereira', 'Tosin Adarabioyo', 'Willian da Silva', 'Shane Duffy', 'Carlos Vinícius', 'Bobby Reid', 'Harry Wilson', 'Sasa Lukic', 'Tom Cairney', 'Neeskens Kebano', 'Tim Ream', 'Harrison Reed', 'Antonee Robinson', 'Manor Solomon', 'Marek Rodak', 'George Wickens', 'Sylvester Jasper', 'Kevin Mbabu', 'Ivan Cavaleiro', 'Anthony Knockaert', 'Joe Bryan', 'Terence Kongolo', 'Paulo Gazzaniga', 'Rodrigo Muniz', 'Tyrese Francois', 'Steven Sessegnon', 'Nathaniel Chalobah', 'Joshua Onomah']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(fulham_player_names, final_fulham_wages))]

# convert list of tuples to dictionary using dict()
fulham_dict = dict(tuples)
print(fulham_dict)

{'Bernd Leno': '£4,680,000 ', 'Layvin Kurzawa': '£4,640,000 ', 'Aleksandar Mitrovic': '£4,160,000 ', 'Cedric Soares': '£3,900,000 ', 'Issa Diop': '£3,640,000 ', 'Kenny Tete': '£2,650,000 ', 'João Palhinha': '£2,600,000 ', 'Andreas Pereira': '£2,600,000 ', 'Tosin Adarabioyo': '£2,110,000 ', 'Willian da Silva': '£2,080,000 ', 'Shane Duffy': '£2,080,000 ', 'Carlos Vinícius': '£2,080,000 ', 'Bobby Reid': '£1,820,000 ', 'Harry Wilson': '£1,820,000 ', 'Sasa Lukic': '£1,638,000 ', 'Tom Cairney': '£1,560,000 ', 'Neeskens Kebano': '£1,560,000 ', 'Tim Ream': '£1,560,000 ', 'Harrison Reed': '£1,560,000 ', 'Antonee Robinson': '£1,430,000 ', 'Manor Solomon': '£1,040,000 ', 'Marek Rodak': '£780,000 ', 'George Wickens': '£260,000 ', 'Sylvester Jasper': '- ', 'Kevin Mbabu': '£2,080,000', 'Ivan Cavaleiro': '£1,950,000', 'Anthony Knockaert': '£1,950,000', 'Joe Bryan': '£1,560,000', 'Terence Kongolo': '£1,140,000', 'Paulo Gazzaniga': '£700,000', 'Rodrigo Muniz': '£390,000', 'Tyrese Francois': '£364,000', 'Steven Sessegnon': '-'}

Liverpool

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/liverpool-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_liverpool = soup.find_all(name="span", class_="cap info")
Wages_list_liverpool = []
for wage in Wages_liverpool :
  wage_text = wage.getText()
  Wages_list_liverpool.append(wage_text)

In [ ]:
final_liverpool_wages = Wages_list_liverpool[::2]
print(final_liverpool_wages)

['£18,200,000 ', '£11,440,000 ', '£10,400,000 ', '£9,360,000 ', '£9,360,000 ', '£9,360,000 ', '£7,800,000 ', '£7,280,000 ', '£7,280,000 ', '£7,280,000 ', '£6,240,000 ', '£6,240,000 ', '£5,720,000 ', '£5,200,000 ', '£5,200,000 ', '£4,420,000 ', '£3,640,000 ', '£3,360,000 ', '£3,120,000 ', '£3,120,000 ', '£3,016,000 ', '£2,912,000 ', '£2,600,000 ', '£2,080,000 ', '£2,080,000 ', '£2,080,000 ', '£780,000 ', '£780,000 ', '£520,000 ', '£260,000', '-']

In [ ]:
liverpool_Players = soup.select("tbody tr td a")
liverpool_player_names = [player.getText() for player in liverpool_Players]
print(liverpool_player_names)

['Mohamed Salah', 'Virgil Van Dijk', 'Thiago Alcántara do Nascimento', 'Trent Alexander-Arnold', 'Roberto Firmino', 'Fabinho Tavares', 'Alisson Becker', 'Jordan Henderson', 'Diogo Jota', 'Darwin Núñez', 'Naby Keita', 'Alex Oxlade-Chamberlain', 'Arthur Melo', 'Joel Matip', 'Andrew Robertson', 'Joe Gomez', 'Ibrahima Konate', 'Nathaniel Phillips', 'Cody Gakpo', 'James Milner', 'Adrian San Miguel del Castillo', 'Luis Díaz', 'Konstantinos Tsimikas', 'Stefan Bajcetic', 'Fabio Carvalho', 'Harvey Elliott', 'Curtis Jones', 'Calvin Ramsay', 'Caoimhin Kelleher', 'Sepp van den Berg', 'Rhys Williams']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(liverpool_player_names, final_liverpool_wages))]

# convert list of tuples to dictionary using dict()
liverpool_dict = dict(tuples)
print(liverpool_dict)

{'Mohamed Salah': '£18,200,000 ', 'Virgil Van Dijk': '£11,440,000 ', 'Thiago Alcántara do Nascimento': '£10,400,000 ', 'Trent Alexander-Arnold': '£9,360,000 ', 'Roberto Firmino': '£9,360,000 ', 'Fabinho Tavares': '£9,360,000 ', 'Alisson Becker': '£7,800,000 ', 'Jordan Henderson': '£7,280,000 ', 'Diogo Jota': '£7,280,000 ', 'Darwin Núñez': '£7,280,000 ', 'Naby Keita': '£6,240,000 ', 'Alex Oxlade-Chamberlain': '£6,240,000 ', 'Arthur Melo': '£5,720,000 ', 'Joel Matip': '£5,200,000 ', 'Andrew Robertson': '£5,200,000 ', 'Joe Gomez': '£4,420,000 ', 'Ibrahima Konate': '£3,640,000 ', 'Nathaniel Phillips': '£3,360,000 ', 'Cody Gakpo': '£3,120,000 ', 'James Milner': '£3,120,000 ', 'Adrian San Miguel del Castillo': '£3,016,000 ', 'Luis Díaz': '£2,912,000 ', 'Konstantinos Tsimikas': '£2,600,000 ', 'Stefan Bajcetic': '£2,080,000 ', 'Fabio Carvalho': '£2,080,000 ', 'Harvey Elliott': '£2,080,000 ', 'Curtis Jones': '£780,000 ', 'Calvin Ramsay': '£780,000 ', 'Caoimhin Kelleher': '£520,000 ', 'Sepp van den Berg': '£260,000', 'Rhys Williams': '-'}

Bournemouth FC

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/afc-bournemouth/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_bournemouth = soup.find_all(name="span", class_="cap info")
Wages_list_bournemouth = []
for wage in Wages_bournemouth :
  wage_text = wage.getText()
  Wages_list_bournemouth.append(wage_text)

In [ ]:
final_bournemouth_wages = Wages_list_bournemouth[::2]
print(final_bournemouth_wages)

['£4,160,000 ', '£2,860,000 ', '£2,860,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,080,000 ', '£2,080,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,560,000 ', '£1,560,000 ', '£1,560,000 ', '£1,300,000 ', '£1,300,000 ', '£1,300,000 ', '£1,040,000 ', '£1,040,000 ', '£1,040,000 ', '£780,000 ', '£416,000 ', '- ', '£780,000', '£624,000', '£416,000', '£416,000', '£156,000', '£104,000', '£40,000']

In [ ]:
bournemouth_Players = soup.select("tbody tr td a")
bournemouth_player_names = [player.getText() for player in bournemouth_Players]
print(bournemouth_player_names)

['Jordan Zemura', 'David Brooks', 'Jefferson Lerma', 'Norberto Murara', 'Marcos Senesi', 'Dominic Solanke', 'Philip Billing', 'Lewis Cook', 'Ryan Fredericks', 'Chris Mepham', 'Dango Ouattara', 'Adam Smith', 'Junior Stanislas', 'Ryan Christie', 'Lloyd Kelly', 'Jack Stacey', 'Jaidon Anthony', 'Darren Randolph', 'Ilya Zabarnyi', 'Antoine Semenyo', 'Marcus Tavernier', 'Mark Travers', 'Kieffer Moore', 'Joe Rothwell', 'Hamed Traorè', 'Emiliano Marcondes', 'Jamal Lowe', 'Siriki Dembélé', 'Ben Pearson', 'James Hill', 'William Dennis', 'Gavin Kilkenny']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(bournemouth_player_names, final_bournemouth_wages))]

# convert list of tuples to dictionary using dict()
bournemouth_dict = dict(tuples)
print(bournemouth_dict)

{'Jordan Zemura': '£4,160,000 ', 'David Brooks': '£2,860,000 ', 'Jefferson Lerma': '£2,860,000 ', 'Norberto Murara': '£2,600,000 ', 'Marcos Senesi': '£2,600,000 ', 'Dominic Solanke': '£2,600,000 ', 'Philip Billing': '£2,080,000 ', 'Lewis Cook': '£2,080,000 ', 'Ryan Fredericks': '£1,820,000 ', 'Chris Mepham': '£1,820,000 ', 'Dango Ouattara': '£1,820,000 ', 'Adam Smith': '£1,820,000 ', 'Junior Stanislas': '£1,820,000 ', 'Ryan Christie': '£1,560,000 ', 'Lloyd Kelly': '£1,560,000 ', 'Jack Stacey': '£1,560,000 ', 'Jaidon Anthony': '£1,300,000 ', 'Darren Randolph': '£1,300,000 ', 'Ilya Zabarnyi': '£1,300,000 ', 'Antoine Semenyo': '£1,040,000 ', 'Marcus Tavernier': '£1,040,000 ', 'Mark Travers': '£1,040,000 ', 'Kieffer Moore': '£780,000 ', 'Joe Rothwell': '£416,000 ', 'Hamed Traorè': '- ', 'Emiliano Marcondes': '£780,000', 'Jamal Lowe': '£624,000', 'Siriki Dembélé': '£416,000', 'Ben Pearson': '£416,000', 'James Hill': '£156,000', 'William Dennis': '£104,000', 'Gavin Kilkenny': '£40,000'}

Manchester City

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/manchester-city-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_ManC = soup.find_all(name="span", class_="cap info")
Wages_list_ManC = []
for wage in Wages_ManC :
  wage_text = wage.getText()
  Wages_list_ManC.append(wage_text)

In [ ]:
final_ManC_wages = Wages_list_ManC[::2]
print(final_ManC_wages)

['£20,800,000 ', '£19,500,000 ', '£15,600,000 ', '£13,000,000 ', '£11,700,000 ', '£11,440,000 ', '£9,360,000 ', '£9,360,000 ', '£8,320,000 ', '£8,320,000 ', '£7,800,000 ', '£7,800,000 ', '£7,280,000 ', '£6,240,000 ', '£5,200,000 ', '£5,200,000 ', '£4,800,000 ', '£4,680,000 ', '£2,860,000 ', '£2,600,000 ', '£1,560,000 ', '£1,040,000 ', '£780,000 ', '£13,000,000', '£2,392,000', '-', '-', '-', '-']

In [ ]:
ManC_Players = soup.select("tbody tr td a")
ManC_player_names = [player.getText() for player in ManC_Players]
print(ManC_player_names)

['Kevin De Bruyne', 'Erling Haaland', 'Jack Grealish', 'John Stones', 'Phil Foden', 'Rodrigo Hernández Cascante', 'Manuel Akanji', 'Ruben Dias', 'Riyad Mahrez', 'Kyle Walker', 'Kalvin Phillips', 'Bernardo Silva', 'Ilkay Gundogan', 'Aymeric Laporte', 'Julian Álvarez', 'Ederson Moraes', 'Nathan Ake', 'Benjamin Mendy', 'Stefan Ortega', 'Sergio Gomez', 'Scott Carson', 'Cole Palmer', 'Máximo Perrone', 'Joao Cancelo', 'Zack Steffen', 'Nahuel Bustos', 'Taylor Harwood-Bellis', 'Diego Rosa', 'Filip Stevanovic']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(ManC_player_names, final_ManC_wages))]

# convert list of tuples to dictionary using dict()
ManC_dict = dict(tuples)
print(ManC_dict)

{'Kevin De Bruyne': '£20,800,000 ', 'Erling Haaland': '£19,500,000 ', 'Jack Grealish': '£15,600,000 ', 'John Stones': '£13,000,000 ', 'Phil Foden': '£11,700,000 ', 'Rodrigo Hernández Cascante': '£11,440,000 ', 'Manuel Akanji': '£9,360,000 ', 'Ruben Dias': '£9,360,000 ', 'Riyad Mahrez': '£8,320,000 ', 'Kyle Walker': '£8,320,000 ', 'Kalvin Phillips': '£7,800,000 ', 'Bernardo Silva': '£7,800,000 ', 'Ilkay Gundogan': '£7,280,000 ', 'Aymeric Laporte': '£6,240,000 ', 'Julian Álvarez': '£5,200,000 ', 'Ederson Moraes': '£5,200,000 ', 'Nathan Ake': '£4,800,000 ', 'Benjamin Mendy': '£4,680,000 ', 'Stefan Ortega': '£2,860,000 ', 'Sergio Gomez': '£2,600,000 ', 'Scott Carson': '£1,560,000 ', 'Cole Palmer': '£1,040,000 ', 'Máximo Perrone': '£780,000 ', 'Joao Cancelo': '£13,000,000', 'Zack Steffen': '£2,392,000', 'Nahuel Bustos': '-', 'Taylor Harwood-Bellis': '-', 'Diego Rosa': '-', 'Filip Stevanovic': '-'}

Manchester United

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/manchester-united-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_ManU = soup.find_all(name="span", class_="cap info")
Wages_list_ManU = []
for wage in Wages_ManU :
  wage_text = wage.getText()
  Wages_list_ManU.append(wage_text)

In [ ]:
final_ManU_wages = Wages_list_ManU[::2]
print(final_ManU_wages)

['£19,500,000 ', '£18,200,000 ', '£17,680,000 ', '£13,000,000 ', '£13,000,000 ', '£12,480,000 ', '£10,400,000 ', '£10,400,000 ', '£9,875,000 ', '£7,800,000 ', '£7,800,000 ', '£6,240,000 ', '£6,240,000 ', '£6,240,000 ', '£6,240,000 ', '£4,680,000 ', '£3,900,000 ', '£3,900,000 ', '£3,900,000 ', '£3,380,000 ', '£3,120,000 ', '£2,860,000 ', '£2,180,000 ', '£1,820,000 ', '£1,300,000 ', '£1,040,000 ', '£520,000 ', '£260,000 ', '£260,000 ', '£260,000 ', '£260,000 ', '£5,200,000', '£4,840,000', '£4,160,000', '£2,600,000', '£1,500,000', '-']

In [ ]:
ManU_Players = soup.select("tbody tr td a")
ManU_player_names = [player.getText() for player in ManU_Players]
print(ManU_player_names)

['David De Gea', 'Carlos Casimiro', 'Raphael Varane', 'Anthony Martial', 'Jadon Sancho', 'Bruno Fernandes', 'Antony dos Santo', 'Marcus Rashford', 'Harry Maguire', 'Christian Eriksen', 'Luke Shaw', 'Frederico de Paula Santos', 'Victor Lindelof', 'Lisandro Martínez', 'Donny van de Beek', 'Aaron Wan-Bissaka', 'Mason Greenwood', 'Phil Jones', 'Tyrell Malacia', 'Brandon Williams', 'Scott McTominay', 'Marcel Sabitzer', 'Tom Heaton', 'Wout Weghorst', 'Diogo Dalot', 'Facundo Pellistri', 'Kobbie Mainoo', 'Anthony Elanga', 'Hannibal Mejbri', 'Teden Mengi', 'Shola Shorerite', 'Dean Henderson', 'Alex Telles', 'Eric Bailly', 'Axel Tuanzebe', 'Amad Diallo', 'Álvaro Fernandez', 'Cristiano Ronaldo']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(ManU_player_names, final_ManU_wages))]

# convert list of tuples to dictionary using dict()
ManU_dict = dict(tuples)
print(ManU_dict)

{'David De Gea': '£19,500,000 ', 'Carlos Casimiro': '£18,200,000 ', 'Raphael Varane': '£17,680,000 ', 'Anthony Martial': '£13,000,000 ', 'Jadon Sancho': '£13,000,000 ', 'Bruno Fernandes': '£12,480,000 ', 'Antony dos Santo': '£10,400,000 ', 'Marcus Rashford': '£10,400,000 ', 'Harry Maguire': '£9,875,000 ', 'Christian Eriksen': '£7,800,000 ', 'Luke Shaw': '£7,800,000 ', 'Frederico de Paula Santos': '£6,240,000 ', 'Victor Lindelof': '£6,240,000 ', 'Lisandro Martínez': '£6,240,000 ', 'Donny van de Beek': '£6,240,000 ', 'Aaron Wan-Bissaka': '£4,680,000 ', 'Mason Greenwood': '£3,900,000 ', 'Phil Jones': '£3,900,000 ', 'Tyrell Malacia': '£3,900,000 ', 'Brandon Williams': '£3,380,000 ', 'Scott McTominay': '£3,120,000 ', 'Marcel Sabitzer': '£2,860,000 ', 'Tom Heaton': '£2,180,000 ', 'Wout Weghorst': '£1,820,000 ', 'Diogo Dalot': '£1,300,000 ', 'Facundo Pellistri': '£1,040,000 ', 'Kobbie Mainoo': '£520,000 ', 'Anthony Elanga': '£260,000 ', 'Hannibal Mejbri': '£260,000 ', 'Teden Mengi': '£260,000 ', 'Shola Shorerite': '£260,000 ', 'Dean Henderson': '£5,200,000', 'Alex Telles': '£4,840,000', 'Eric Bailly': '£4,160,000', 'Axel Tuanzebe': '£2,600,000', 'Amad Diallo': '£1,500,000', 'Álvaro Fernandez': '-'}

Newcastle United

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/newcastle-united-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_NU = soup.find_all(name="span", class_="cap info")
Wages_list_NU = []
for wage in Wages_NU :
  wage_text = wage.getText()
  Wages_list_NU.append(wage_text)

In [ ]:
final_NU_wages = Wages_list_NU[::2]
print(final_NU_wages)

['£6,240,000 ', '£6,240,000 ', '£5,200,000 ', '£5,200,000 ', '£4,680,000 ', '£4,500,000 ', '£4,160,000 ', '£3,120,000 ', '£3,120,000 ', '£2,860,000 ', '£2,600,000 ', '£2,400,000 ', '£2,340,000 ', '£2,173,600 ', '£2,080,000 ', '£2,080,000 ', '£2,080,000 ', '£2,000,000 ', '£2,000,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,820,000 ', '£1,560,000 ', '£600,000 ', '£390,000 ', '£260,000 ', '- ', '£4,160,000', '£2,100,000', '£1,820,000', '£1,560,000', '£1,144,000', '-']

In [ ]:
NU_Players = soup.select("tbody tr td a")
NU_player_names = [player.getText() for player in NU_Players]
print(NU_player_names)

['Bruno Guimarães', 'Alexander Isak', 'Matt Targett', 'Kieran Trippier', 'Sven Botman', 'Joelinton Cassio Apolinário de Lira', 'Joe Willock', 'Miguel Almiron', 'Nick Pope', 'Emil Krafth', 'Sean Longstaff', 'Callum Wilson', 'Matt Ritchie', 'Ryan Fraser', 'Martin Dubravka', 'Jamaal Lascelles', 'Fabian Schar', 'Jamal Lewis', 'Allan Saint-Maximin', 'Dan Burn', 'Paul Dummett', 'Javier Manquillo', 'Jacob Murphy', 'Elliot Anderson', 'Mark Gillespie', 'Matthew Longstaff', 'Lewis Miley', 'Kell Watts', 'Chris Wood', 'Jeff Hendrick', 'Ciaran Clark', 'Karl Darlow', 'Isaac Hayden', 'Garang Kuol', 'Jonjo Shelvey', 'Loris Karius']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(NU_player_names, final_NU_wages))]

# convert list of tuples to dictionary using dict()
NU_dict = dict(tuples)
print(NU_dict)

{'Bruno Guimarães': '£6,240,000 ', 'Alexander Isak': '£6,240,000 ', 'Matt Targett': '£5,200,000 ', 'Kieran Trippier': '£5,200,000 ', 'Sven Botman': '£4,680,000 ', 'Joelinton Cassio Apolinário de Lira': '£4,500,000 ', 'Joe Willock': '£4,160,000 ', 'Miguel Almiron': '£3,120,000 ', 'Nick Pope': '£3,120,000 ', 'Emil Krafth': '£2,860,000 ', 'Sean Longstaff': '£2,600,000 ', 'Callum Wilson': '£2,400,000 ', 'Matt Ritchie': '£2,340,000 ', 'Ryan Fraser': '£2,173,600 ', 'Martin Dubravka': '£2,080,000 ', 'Jamaal Lascelles': '£2,080,000 ', 'Fabian Schar': '£2,080,000 ', 'Jamal Lewis': '£2,000,000 ', 'Allan Saint-Maximin': '£2,000,000 ', 'Dan Burn': '£1,820,000 ', 'Paul Dummett': '£1,820,000 ', 'Javier Manquillo': '£1,820,000 ', 'Jacob Murphy': '£1,820,000 ', 'Elliot Anderson': '£1,560,000 ', 'Mark Gillespie': '£600,000 ', 'Matthew Longstaff': '£390,000 ', 'Lewis Miley': '£260,000 ', 'Kell Watts': '- ', 'Chris Wood': '£4,160,000', 'Jeff Hendrick': '£2,100,000', 'Ciaran Clark': '£1,820,000', 'Karl Darlow': '£1,560,000', 'Isaac Hayden': '£1,144,000', 'Garang Kuol': '-'}

Nottingham Forest

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/nottingham-forest-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_NF = soup.find_all(name="span", class_="cap info")
Wages_list_NF = []
for wage in Wages_NF :
  wage_text = wage.getText()
  Wages_list_NF.append(wage_text)

In [ ]:
final_NF_wages = Wages_list_NF[::2]
print(final_NF_wages)

['£10,400,000 ', '£5,200,000 ', '£4,160,000 ', '£4,160,000 ', '£4,160,000 ', '£3,900,000 ', '£3,380,000 ', '£3,240,000 ', '£2,600,000 ', '£2,600,000 ', '£2,340,000 ', '£2,340,000 ', '£2,080,000 ', '£2,080,000 ', '£2,080,000 ', '£1,830,000 ', '£1,820,000 ', '£1,560,000 ', '£1,560,000 ', '£1,560,000 ', '£1,300,000 ', '£1,160,000 ', '£1,040,000 ', '£1,040,000 ', '£1,040,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£780,000 ', '£520,000 ', '£520,000 ', '£130,000 ', '- ', '- ', '- ', '£1,560,000', '£1,360,000', '£890,000', '£780,000', '£550,000', '£520,000', '£480,000', '£400,000', '£180,000', '-']

In [ ]:
NF_Players = soup.select("tbody tr td a")
NF_player_names = [player.getText() for player in NF_Players]
print(NF_player_names)

['Jesse Lingard', 'Dean Henderson', 'Felipe Augusto de Almeida', 'Morgan Gibbs-White', 'Chris Wood', 'Jonjo Shelvey', 'Keylor Navas', 'Renan Lodi', 'Taiwo Awoniyi', 'Neco Williams', 'Cheikhou Kouyate', 'Moussa Niakhaté', 'Willy Boly', 'Emmanuel Dennis', 'Remo Freuler', 'Steve Cook', 'Serge Aurier', 'Brennan Johnson', 'Orel Mangala', 'Omar Richards', 'Ryan Yates', 'Harry Arter', 'Giulian Biancone', 'Scott McKenna', 'Lyle Taylor', 'Jack Colback', 'Danilo Luiz da Silva', 'Wayne Hennessey', 'Gustavo Scarpa', 'Sam Surridge', 'Harry Toffolo', 'Joe Worrall', 'Brandon Aguilera', 'Carlos Miguel Ribiero Dias', 'Jordan Smith', 'Andre Ayew', 'Mohamed Dräger', 'Adnan Kanuric', 'Hee-chan Hwang', 'Loïc Badé', 'Ethan Horvath', "Lewis O'Brien", 'Braian Ojeda', 'Loïc Mbe Soh', 'Jonathan Panzo', 'Richie Laryea', 'Alex Mighten', 'Tyrese Fornah']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(NF_player_names, final_NF_wages))]

# convert list of tuples to dictionary using dict()
NF_dict = dict(tuples)
print(NF_dict)

{'Jesse Lingard': '£10,400,000 ', 'Dean Henderson': '£5,200,000 ', 'Felipe Augusto de Almeida': '£4,160,000 ', 'Morgan Gibbs-White': '£4,160,000 ', 'Chris Wood': '£4,160,000 ', 'Jonjo Shelvey': '£3,900,000 ', 'Keylor Navas': '£3,380,000 ', 'Renan Lodi': '£3,240,000 ', 'Taiwo Awoniyi': '£2,600,000 ', 'Neco Williams': '£2,600,000 ', 'Cheikhou Kouyate': '£2,340,000 ', 'Moussa Niakhaté': '£2,340,000 ', 'Willy Boly': '£2,080,000 ', 'Emmanuel Dennis': '£2,080,000 ', 'Remo Freuler': '£2,080,000 ', 'Steve Cook': '£1,830,000 ', 'Serge Aurier': '£1,820,000 ', 'Brennan Johnson': '£1,560,000 ', 'Orel Mangala': '£1,560,000 ', 'Omar Richards': '£1,560,000 ', 'Ryan Yates': '£1,300,000 ', 'Harry Arter': '£1,160,000 ', 'Giulian Biancone': '£1,040,000 ', 'Scott McKenna': '£1,040,000 ', 'Lyle Taylor': '£1,040,000 ', 'Jack Colback': '£780,000 ', 'Danilo Luiz da Silva': '£780,000 ', 'Wayne Hennessey': '£780,000 ', 'Gustavo Scarpa': '£780,000 ', 'Sam Surridge': '£780,000 ', 'Harry Toffolo': '£780,000 ', 'Joe Worrall': '£780,000 ', 'Brandon Aguilera': '£520,000 ', 'Carlos Miguel Ribiero Dias': '£520,000 ', 'Jordan Smith': '£130,000 ', 'Andre Ayew': '- ', 'Mohamed Dräger': '- ', 'Adnan Kanuric': '- ', 'Hee-chan Hwang': '£1,560,000', 'Loïc Badé': '£1,360,000', 'Ethan Horvath': '£890,000', "Lewis O'Brien": '£780,000', 'Braian Ojeda': '£550,000', 'Loïc Mbe Soh': '£520,000', 'Jonathan Panzo': '£480,000', 'Richie Laryea': '£400,000', 'Alex Mighten': '£180,000', 'Tyrese Fornah': '-'}

Tottenham Hotspur

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/tottenham-hotspur-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_Spurs = soup.find_all(name="span", class_="cap info")
Wages_list_Spurs = []
for wage in Wages_Spurs :
  wage_text = wage.getText()
  Wages_list_Spurs.append(wage_text)

In [ ]:
final_Spurs_wages = Wages_list_Spurs[::2]
print(final_Spurs_wages)

['£10,400,000 ', '£9,880,000 ', '£9,360,000 ', '£8,580,000 ', '£7,540,000 ', '£5,720,000 ', '£5,300,000 ', '£5,200,000 ', '£4,680,000 ', '£4,680,000 ', '£4,420,000 ', '£4,160,000 ', '£3,900,000 ', '£3,900,000 ', '£3,380,000 ', '£2,860,000 ', '£2,860,000 ', '£2,340,000 ', '£2,210,000 ', '£2,170,000 ', '£2,080,000 ', '£2,080,000 ', '£1,300,000 ', '£624,000 ', '£520,000 ', '£260,000 ', '£10,400,000', '£3,640,000', '£2,600,000', '£2,500,000', '£1,300,000', '£500,000', '£390,000']

In [ ]:
Spurs_Players = soup.select("tbody tr td a")
Spurs_player_names = [player.getText() for player in Spurs_Players]
print(Spurs_player_names)

['Harry Kane', 'Heung-Min Son', 'Ivan Perisic', 'Cristian Romero', 'Clément Lenglet', 'Dejan Kulusevski', 'Pierre-Emile Hojbjerg', 'Hugo Lloris', 'Richarlison de Andrade', 'Lucas Moura', 'Eric Dier', 'Ben Davies', 'Rodrigo Bentancur', 'Fraser Forster', 'Davinson Sanchez', 'Yves Bissouma', 'Ryan Sessegnon', 'Destiny Udogie', 'Pedro Porro', 'Emerson Royal', 'Bryan Gil', 'Oliver Skipp', 'Japhet Tanganga', 'Arnaut Danjuma', 'Pape Sarr', 'Brandon Austin', 'Tanguy Ndombele', 'Giovani Lo Celso', 'Harry Winks', 'Sergio Reguilón', 'Djed Spence', 'Joe Rodon', 'Alfie Whiteman', 'Matt Doherty']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(Spurs_player_names, final_Spurs_wages))]

# convert list of tuples to dictionary using dict()
Spurs_dict = dict(tuples)
print(Spurs_dict)

{'Harry Kane': '£10,400,000 ', 'Heung-Min Son': '£9,880,000 ', 'Ivan Perisic': '£9,360,000 ', 'Cristian Romero': '£8,580,000 ', 'Clément Lenglet': '£7,540,000 ', 'Dejan Kulusevski': '£5,720,000 ', 'Pierre-Emile Hojbjerg': '£5,300,000 ', 'Hugo Lloris': '£5,200,000 ', 'Richarlison de Andrade': '£4,680,000 ', 'Lucas Moura': '£4,680,000 ', 'Eric Dier': '£4,420,000 ', 'Ben Davies': '£4,160,000 ', 'Rodrigo Bentancur': '£3,900,000 ', 'Fraser Forster': '£3,900,000 ', 'Davinson Sanchez': '£3,380,000 ', 'Yves Bissouma': '£2,860,000 ', 'Ryan Sessegnon': '£2,860,000 ', 'Destiny Udogie': '£2,340,000 ', 'Pedro Porro': '£2,210,000 ', 'Emerson Royal': '£2,170,000 ', 'Bryan Gil': '£2,080,000 ', 'Oliver Skipp': '£2,080,000 ', 'Japhet Tanganga': '£1,300,000 ', 'Arnaut Danjuma': '£624,000 ', 'Pape Sarr': '£520,000 ', 'Brandon Austin': '£260,000 ', 'Tanguy Ndombele': '£10,400,000', 'Giovani Lo Celso': '£3,640,000', 'Harry Winks': '£2,600,000', 'Sergio Reguilón': '£2,500,000', 'Djed Spence': '£1,300,000', 'Joe Rodon': '£500,000', 'Alfie Whiteman': '£390,000'}

West Ham

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/west-ham-united-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_WH = soup.find_all(name="span", class_="cap info")
Wages_list_WH = []
for wage in Wages_WH :
  wage_text = wage.getText()
  Wages_list_WH.append(wage_text)

In [ ]:
final_WH_wages = Wages_list_WH[::2]
print(final_WH_wages)

['£7,800,000 ', '£6,500,000 ', '£6,500,000 ', '£6,240,000 ', '£4,940,000 ', '£4,680,000 ', '£4,420,000 ', '£4,160,000 ', '£3,640,000 ', '£3,640,000 ', '£3,380,000 ', '£3,380,000 ', '£3,380,000 ', '£3,380,000 ', '£3,120,000 ', '£3,120,000 ', '£2,860,000 ', '£2,600,000 ', '£2,600,000 ', '£1,820,000 ', '£1,300,000 ', '£1,040,000 ', '£208,000 ', '- ', '£3,640,000', '£2,080,000', '£220,000', '-']

In [ ]:
WH_Players = soup.select("tbody tr td a")
WH_player_names = [player.getText() for player in WH_Players]
print(WH_player_names)

['Lucas Paquetá', 'Danny Ings', 'Kurt Zouma', 'Alphonse Areola', 'Emerson Palmieri', 'Gianluca Scamacca', 'Michail Antonio', 'Thilo Kehrer', 'Manuel Lanzini', 'Angelo Ogbonna', 'Maxwel Cornet', 'Lukasz Fabianski', 'Pablo Fornals', 'Tomas Soucek', 'Jared Bowen', 'Declan Rice', 'Saïd Benrahma', 'Nayef Aguerd', 'Aaron Cresswell', 'Vladimir Coufal', 'Flynn Downes', 'Ben Johnson', 'Divin Mubama', 'Jamal Baptiste', 'Nikola Vlasic', 'Arthur Masuaku', 'Conor Coventry', 'Armstrong Oko-Flex', 'Craig Dawson', 'Darren Randolph']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(WH_player_names, final_WH_wages))]

# convert list of tuples to dictionary using dict()
WH_dict = dict(tuples)
print(WH_dict)

{'Lucas Paquetá': '£7,800,000 ', 'Danny Ings': '£6,500,000 ', 'Kurt Zouma': '£6,500,000 ', 'Alphonse Areola': '£6,240,000 ', 'Emerson Palmieri': '£4,940,000 ', 'Gianluca Scamacca': '£4,680,000 ', 'Michail Antonio': '£4,420,000 ', 'Thilo Kehrer': '£4,160,000 ', 'Manuel Lanzini': '£3,640,000 ', 'Angelo Ogbonna': '£3,640,000 ', 'Maxwel Cornet': '£3,380,000 ', 'Lukasz Fabianski': '£3,380,000 ', 'Pablo Fornals': '£3,380,000 ', 'Tomas Soucek': '£3,380,000 ', 'Jared Bowen': '£3,120,000 ', 'Declan Rice': '£3,120,000 ', 'Saïd Benrahma': '£2,860,000 ', 'Nayef Aguerd': '£2,600,000 ', 'Aaron Cresswell': '£2,600,000 ', 'Vladimir Coufal': '£1,820,000 ', 'Flynn Downes': '£1,300,000 ', 'Ben Johnson': '£1,040,000 ', 'Divin Mubama': '£208,000 ', 'Jamal Baptiste': '- ', 'Nikola Vlasic': '£3,640,000', 'Arthur Masuaku': '£2,080,000', 'Conor Coventry': '£220,000', 'Armstrong Oko-Flex': '-'}

Wolves

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/wolverhampton-wanderers-fc/payroll/2022/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_Wolves = soup.find_all(name="span", class_="cap info")
Wages_list_Wolves = []
for wage in Wages_Wolves :
  wage_text = wage.getText()
  Wages_list_Wolves.append(wage_text)

In [ ]:
final_Wolves_wages = Wages_list_Wolves[::2]
print(final_Wolves_wages)

['£5,200,000 ', '£5,200,000 ', '£4,680,000 ', '£4,680,000 ', '£4,420,000 ', '£4,160,000 ', '£3,120,000 ', '£2,860,000 ', '£2,860,000 ', '£2,600,000 ', '£2,600,000 ', '£2,600,000 ', '£2,340,000 ', '£2,340,000 ', '£1,907,000 ', '£1,820,000 ', '£1,820,000 ', '£1,560,000 ', '£1,490,000 ', '£1,040,000 ', '£780,000 ', '£780,000 ', '£520,000 ', '£520,000 ', '£520,000 ', '£260,000 ', '£260,000 ', '£260,000 ', '£260,000 ', '- ', '£4,160,000', '£2,860,000', '£2,100,000', '£780,000', '£650,000', '£416,000', '-', '-']

In [ ]:
Wolves_Players = soup.select("tbody tr td a")
Wolves_player_names = [player.getText() for player in Wolves_Players]
print(Wolves_player_names)

['Raul Jimenez', 'Jose Moutinho', 'Gonçalo Guedes', 'Pablo Sarabia', 'Matheus Nunes', 'Nelson Semedo', 'Daniel Podence', 'Adama Traore', 'Boubacar Traoré', 'Diego Costa', 'Pedro Neto', 'Ruben Neves', 'Craig Dawson', 'Mario Lemina', 'Jonny Castro', 'Sasa Kalajdzic', 'Jonny Otto', 'Matheus Cunha', 'José Sá', 'Nathan Collins', 'Joao Gomes', 'Max Kilman', 'Rayan Aït-Nouri', 'Daniel Bentley', 'Francisco Oliveira', 'Hugo Bueno', 'Toti Gomes', 'Joe Hodge', 'Louie Moulden', 'Andreas Söndergaard', 'Fabio Silva', 'Conor Coady', 'Ki-Jana Hoever', 'Bruno Jordao', 'Matija Sarkic', 'Yerson Mosquera', 'Bendegúz Bolla', 'Hayao Kawabe', 'Leo Bonatini', 'Connor Ronan']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(Wolves_player_names, final_Wolves_wages))]

# convert list of tuples to dictionary using dict()
Wolves_dict = dict(tuples)
print(Wolves_dict)

{'Raul Jimenez': '£5,200,000 ', 'Jose Moutinho': '£5,200,000 ', 'Gonçalo Guedes': '£4,680,000 ', 'Pablo Sarabia': '£4,680,000 ', 'Matheus Nunes': '£4,420,000 ', 'Nelson Semedo': '£4,160,000 ', 'Daniel Podence': '£3,120,000 ', 'Adama Traore': '£2,860,000 ', 'Boubacar Traoré': '£2,860,000 ', 'Diego Costa': '£2,600,000 ', 'Pedro Neto': '£2,600,000 ', 'Ruben Neves': '£2,600,000 ', 'Craig Dawson': '£2,340,000 ', 'Mario Lemina': '£2,340,000 ', 'Jonny Castro': '£1,907,000 ', 'Sasa Kalajdzic': '£1,820,000 ', 'Jonny Otto': '£1,820,000 ', 'Matheus Cunha': '£1,560,000 ', 'José Sá': '£1,490,000 ', 'Nathan Collins': '£1,040,000 ', 'Joao Gomes': '£780,000 ', 'Max Kilman': '£780,000 ', 'Rayan Aït-Nouri': '£520,000 ', 'Daniel Bentley': '£520,000 ', 'Francisco Oliveira': '£520,000 ', 'Hugo Bueno': '£260,000 ', 'Toti Gomes': '£260,000 ', 'Joe Hodge': '£260,000 ', 'Louie Moulden': '£260,000 ', 'Andreas Söndergaard': '- ', 'Fabio Silva': '£4,160,000', 'Conor Coady': '£2,860,000', 'Ki-Jana Hoever': '£2,100,000', 'Bruno Jordao': '£780,000', 'Matija Sarkic': '£650,000', 'Yerson Mosquera': '£416,000', 'Bendegúz Bolla': '-', 'Hayao Kawabe': '-'}

Leicester

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/leicester-city/payroll/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_leicester = soup.find_all(name="span", class_="cap info")
Wages_list_leicester = []
for wage in Wages_leicester :
  wage_text = wage.getText()
  Wages_list_leicester.append(wage_text)

In [ ]:
final_leicester_wages = Wages_list_leicester[::2]
print(final_leicester_wages)

['£7,280,000 ', '£4,160,000 ', '£4,160,000 ', '£4,160,000 ', '£4,160,000 ', '£3,900,000 ', '£3,900,000 ', '£3,900,000 ', '£3,640,000 ', '£2,600,000 ', '£2,340,000 ', '£2,080,000 ', '£1,560,000 ', '£1,560,000 ', '£1,040,000 ']

In [ ]:
leicester_Players = soup.select("tbody tr td a")
leicester_player_names = [player.getText() for player in leicester_Players]
print(leicester_player_names)

['Jamie Vardy', 'Ryan Bertrand', 'Kelechi Iheanacho', 'Ricardo Pereira', 'Boubakary Soumaré', 'Patson Daka', 'Onyinye Ndidi', 'Dennis Praet', 'Jannik Vestergaard', 'Wout Faes', 'Marc Albrighton', 'Danny Ward', 'James Justin', 'Alex Smithies', 'Kiernan Dewsbury-Hall']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(leicester_player_names, final_leicester_wages))]

# convert list of tuples to dictionary using dict()
leicester_dict = dict(tuples)
print(leicester_dict)

{'Jamie Vardy': '£7,280,000 ', 'Ryan Bertrand': '£4,160,000 ', 'Kelechi Iheanacho': '£4,160,000 ', 'Ricardo Pereira': '£4,160,000 ', 'Boubakary Soumaré': '£4,160,000 ', 'Patson Daka': '£3,900,000 ', 'Onyinye Ndidi': '£3,900,000 ', 'Dennis Praet': '£3,900,000 ', 'Jannik Vestergaard': '£3,640,000 ', 'Wout Faes': '£2,600,000 ', 'Marc Albrighton': '£2,340,000 ', 'Danny Ward': '£2,080,000 ', 'James Justin': '£1,560,000 ', 'Alex Smithies': '£1,560,000 ', 'Kiernan Dewsbury-Hall': '£1,040,000 '}

Southampton

In [ ]:
response = requests.get(url="https://www.spotrac.com/epl/southampton-fc/payroll/")
html_doc = response.text

soup = BeautifulSoup(html_doc, "html.parser")

In [ ]:
Wages_southampton = soup.find_all(name="span", class_="cap info")
Wages_list_southampton = []
for wage in Wages_southampton :
  wage_text = wage.getText()
  Wages_list_southampton.append(wage_text)

In [ ]:
final_southampton_wages = Wages_list_southampton[::2]
print(final_southampton_wages)

['£4,160,000 ', '£3,640,000 ', '£3,380,000 ', '£3,380,000 ', '£3,120,000 ', '£2,860,000 ', '£2,860,000 ', '£2,600,000 ', '£2,040,000 ', '£1,820,000 ', '£1,560,000 ', '£1,300,000 ', '£1,300,000 ', '£1,200,000 ', '£1,100,000 ', '£1,040,000 ', '£900,000 ', '£780,000 ', '£780,000 ', '- ', '- ', '- ', '- ', '- ', '- ', '- ']

In [ ]:
southampton_Players = soup.select("tbody tr td a")
southampton_player_names = [player.getText() for player in southampton_Players]
print(southampton_player_names)

['Mislav Orsic', 'Joe Aribo', 'Stuart Armstrong', 'Moussa Djenepo', 'Jan Bednarek', 'Adam Armstrong', 'Ibrahima Diallo', 'Alex McCarthy', 'Romain Perraud', 'Lyanco Vojnovic', 'Che Adams', 'Sékou Mara', 'Mohammed Salisu', 'Kyle Walker-Peters', 'Jake Vokins', 'Gavin Bazunu', 'Will Smallbone', 'Armel Bella-Kotchap', 'Samuel Edozie', 'Carlos Alcaraz', 'James Bree', 'Mateusz Lis', "Daniel N'Lundulu", 'Paul Onuachu', 'Thierry Small', 'Kamaldeen Sulemana']

In [ ]:
# create a list of tuples using enumerate()
tuples = [(key, value)
          for i, (key, value) in enumerate(zip(southampton_player_names, final_southampton_wages))]

# convert list of tuples to dictionary using dict()
southampton_dict = dict(tuples)
print(southampton_dict)

{'Mislav Orsic': '£4,160,000 ', 'Joe Aribo': '£3,640,000 ', 'Stuart Armstrong': '£3,380,000 ', 'Moussa Djenepo': '£3,380,000 ', 'Jan Bednarek': '£3,120,000 ', 'Adam Armstrong': '£2,860,000 ', 'Ibrahima Diallo': '£2,860,000 ', 'Alex McCarthy': '£2,600,000 ', 'Romain Perraud': '£2,040,000 ', 'Lyanco Vojnovic': '£1,820,000 ', 'Che Adams': '£1,560,000 ', 'Sékou Mara': '£1,300,000 ', 'Mohammed Salisu': '£1,300,000 ', 'Kyle Walker-Peters': '£1,200,000 ', 'Jake Vokins': '£1,100,000 ', 'Gavin Bazunu': '£1,040,000 ', 'Will Smallbone': '£900,000 ', 'Armel Bella-Kotchap': '£780,000 ', 'Samuel Edozie': '£780,000 ', 'Carlos Alcaraz': '- ', 'James Bree': '- ', 'Mateusz Lis': '- ', "Daniel N'Lundulu": '- ', 'Paul Onuachu': '- ', 'Thierry Small': '- ', 'Kamaldeen Sulemana': '- '}

Now we need to combine all the dictionaries to obtain one final wages dictionary with the player names as the keys and their wages as values

In [ ]:
merged_dict = dict(arsenal_dict.items() | AV_dict.items() | BHA_dict.items() | brentford_dict.items() | bournemouth_dict.items() | Chelsea_dict.items() | CP_dict.items() | ManC_dict.items() | ManU_dict.items() | fulham_dict.items() | everton_dict.items() | southampton_dict.items() | leicester_dict.items() | Wolves_dict.items() | WH_dict.items() | Spurs_dict.items() | NF_dict.items() | NU_dict.items() | liverpool_dict.items())

In [ ]:
print(merged_dict)

{'Jonny Castro': '£1,907,000 ', 'Ryan Fredericks': '£1,820,000 ', 'Christian Pulisic': '£7,800,000 ', 'Hugo Bueno': '£260,000 ', 'Ricardo Pereira': '£4,160,000 ', 'Bendegúz Bolla': '-', 'Kevin Schade': '£250,000 ', 'Tim Ream': '£1,560,000 ', 'Conor Coady': '£2,860,000', 'Jake Vokins': '£1,100,000 ', 'Armstrong Oko-Flex': '-', 'Yerson Mosquera': '£416,000', 'Mario Lemina': '£2,340,000 ', 'Konstantinos Tsimikas': '£2,600,000 ', 'Jannik Vestergaard': '£3,640,000 ', 'Charlie Goode': '£416,000', 'Moussa Djenepo': '£3,380,000 ', 'Remo Freuler': '£2,080,000 ', 'Nathan Ferguson': '£1,500,000 ', 'Diogo Jota': '£7,280,000 ', 'Fin Stevens': '£280,000 ', 'Noni Madueke': '£2,600,000 ', 'Brandon Austin': '£260,000 ', 'Harrison Reed': '£1,560,000 ', 'Ivan Cavaleiro': '£1,950,000', 'Danilo Luiz da Silva': '£780,000 ', 'Mykhailo Mudryk': '£2,600,000 ', 'Joelinton Cassio Apolinário de Lira': '£4,500,000 ', 'Sepp van den Berg': '£260,000', 'Ciaran Clark': '£1,820,000', 'Mohamed Elneny': '£2,600,000 ', 'Bertrand Traoré': '£4,056,000', 'Marc Guehi': '£2,600,000 ', 'Diogo Dalot': '£1,300,000 ', 'Richarlison de Andrade': '£4,680,000 ', 'Idrissa Gueye': '£4,160,000 ', "Daniel N'Lundulu": '- ', 'James McArthur': '£2,860,000 ', 'Jefferson Lerma': '£2,860,000 ', 'David Brooks': '£2,860,000 ', 'Anthony Martial': '£13,000,000 ', 'Davinson Sanchez': '£3,380,000 ', 'Miguel Almiron': '£3,120,000 ', 'Mohamed Salah': '£18,200,000 ', 'Oleksandr Zinchenko': '£7,800,000 ', 'Lisandro Martínez': '£6,240,000 ', 'Simon Adingra': '£650,000', 'Kamaldeen Sulemana': '- ', 'Carney Chukwuemeka': '£5,200,000 ', 'Anthony Gordon': '£520,000 ', 'Alex Oxlade-Chamberlain': '£6,240,000 ', 'Sergio Gomez': '£2,600,000 ', 'Ryan Yates': '£1,300,000 ', "N'Golo Kante": '£15,080,000 ', 'Bruno Jordao': '£780,000', 'Andrew Robertson': '£5,200,000 ', 'Tom Cairney': '£1,560,000 ', 'Michael Keane': '£4,160,000 ', 'Sean Longstaff': '£2,600,000 ', 'Emiliano Martinez': '£6,240,000 ', 'James Garner': '£1,560,000 ', 'Thiago Alcántara do Nascimento': '£10,400,000 ', 'Joe Bryan': '£1,560,000', 'Clément Lenglet': '£7,540,000 ', 'Jeff Hendrick': '£2,100,000', 'Phil Jones': '£3,900,000 ', 'Tanguy Ndombele': '£10,400,000', 'Chris Mepham': '£1,820,000 ', 'Thilo Kehrer': '£4,160,000 ', 'Gabriel Slonina': '£1,040,000 ', 'Ethan Pinnock': '£780,000 ', 'Harry Toffolo': '£780,000 ', 'Mark Travers': '£1,040,000 ', 'Issa Diop': '£3,640,000 ', 'Alex Iwobi': '£6,240,000 ', 'Jorge Luiz Frello Filho': '£5,720,000 ', 'Hee-chan Hwang': '£1,560,000', 'Fabinho Tavares': '£9,360,000 ', 'Emiliano Buendía': '£3,900,000 ', 'Kobbie Mainoo': '£520,000 ', 'Aleksandar Mitrovic': '£4,160,000 ', 'Rico Henry': '£1,820,000 ', 'Thomas Partey': '£10,400,000 ', 'Ruben Neves': '£2,600,000 ', 'Tariq Lamptey': '£1,820,000 ', 'Nayef Aguerd': '£2,600,000 ', 'Victor Lindelof': '£6,240,000 ', 'Kalvin Phillips': '£7,800,000 ', 'Nick Pope': '£3,120,000 ', 'Chris Wood': '£4,160,000 ', 'Philip Billing': '£2,080,000 ', 'Cedric Soares': '£3,900,000 ', 'Sasa Kalajdzic': '£1,820,000 ', 'Lukasz Fabianski': '£3,380,000 ', 'Morgan Sanson': '£2,496,000', 'Steve Cook': '£1,830,000 ', 'Tyrell Malacia': '£3,900,000 ', 'Matty Cash': '£4,160,000 ', 'Trent Alexander-Arnold': '£9,360,000 ', 'Kiernan Dewsbury-Hall': '£1,040,000 ', 'Callum Hudson-Odoi': '£6,240,000', 'Bruno Guimarães': '£6,240,000 ', 'Eric Bailly': '£4,160,000', 'Yves Bissouma': '£2,860,000 ', 'Rúnar Alex Rúnarsson': '£780,000', 'Anthony Elanga': '£260,000 ', 'Joao Cancelo': '£13,000,000', 'Giulian Biancone': '£1,040,000 ', 'Joe Gomez': '£4,420,000 ', 'Francisco Oliveira': '£520,000 ', 'Diego Costa': '£2,600,000 ', 'Kieffer Moore': '£780,000 ', 'Jamal Lowe': '£624,000', 'Declan Rice': '£3,120,000 ', 'Nikola Vlasic': '£3,640,000', 'Jared Bowen': '£3,120,000 ', 'Marcus Alencar': '- ', 'Nahuel Bustos': '-', 'Gabriel Martinelli': '£4,680,000 ', 'Kieran Trippier': '£5,200,000 ', 'Dele Alli': '£5,200,000', 'Lyle Taylor': '£1,040,000 ', 'Keinan Davis': '£2,340,000', 'Neeskens Kebano': '£1,560,000 ', 'Jamal Baptiste': '- ', 'Lloyd Kelly': '£1,560,000 ', 'Eric Dier': '£4,420,000 ', 'Matthew Longstaff': '£390,000 ', 'Raheem Sterling': '£16,900,000 ', 'Albert Sambi Lokonga': '£2,600,000', 'Karl Hein': '£520,000 ', 'Loïc Badé': '£1,360,000', 'Antonee Robinson': '£1,430,000 ', 'Matt Turner': '£1,820,000 ', 'Ivan Toney': '£1,092,000 ', 'Shandon Baptiste': '£780,000 ', 'Matija Sarkic': '£650,000', 'William Saliba': '£2,080,000 ', 'Thierry Small': '- ', 'Ethan Ampadu': '£390,000', 'Scott Carson': '£1,560,000 ', 'Ben White': '£6,240,000 ', 'Jonathan Panzo': '£480,000', 'Craig Dawson': '£2,340,000 ', 'Rodrigo Muniz': '£390,000', 'Scott McTominay': '£3,120,000 ', 'Demarai Gray': '£1,300,000 ', 'Ben Godfrey': '£4,000,000 ', 'Chris Richards': '£2,860,000 ', 'Joe Worrall': '£780,000 ', 'Kieran Tierney': '£5,720,000 ', 'Taylor Harwood-Bellis': '-', 'Manor Solomon': '£1,040,000 ', 'Hayao Kawabe': '-', 'Mads Bech Sørensen': '£208,000 ', 'Aaron Cresswell': '£2,600,000 ', 'Myles Peart-Harris': '-', 'Siriki Dembélé': '£416,000', 'Shola Shorerite': '£260,000 ', 'Keylor Navas': '£3,380,000 ', 'Mohamed Dräger': '- ', 'Ryan Sessegnon': '£2,860,000 ', 'Jhon Durán': '£1,560,000 ', 'Nathan Ake': '£4,800,000 ', 'Wout Faes': '£2,600,000 ', 'Ruben Loftus-Cheek': '£6,240,000 ', 'Antoine Semenyo': '£1,040,000 ', 'Máximo Perrone': '£780,000 ', 'Leander Dendoncker': '£4,680,000 ', 'Jan Paul van Hecke': '£260,000 ', 'Jack Stacey': '£1,560,000 ', 'Emil Krafth': '£2,860,000 ', 'Solly March': '£2,080,000 ', 'Tariqe Fosu': '£260,000', 'Norberto Murara': '£2,600,000 ', 'Seamus Coleman': '£2,860,000 ', 'Vitaly Janelt': '£1,560,000 ', 'Raul Jimenez': '£5,200,000 ', 'Adnan Kanuric': '- ', 'Ellis Simms': '- ', 'Eldin Jakupovic': '£260,000 ', 'Cameron Archer': '£1,040,000', 'Dean Henderson': '£5,200,000', 'Adam Smith': '£1,820,000 ', 'Michael Olise': '£5,200,000 ', 'Romain Perraud': '£2,040,000 ', 'Daniel Podence': '£3,120,000 ', 'Antony dos Santo': '£10,400,000 ', 'Adama Traore': '£2,860,000 ', 'John Stones': '£13,000,000 ', 'Felipe Augusto de Almeida': '£4,160,000 ', 'Aaron Ramsdale': '£3,220,000 ', 'Fábio Vieira': '£2,360,000 ', 'Gianluca Scamacca': '£4,680,000 ', 'Facundo Buonanotte': '£780,000 ', 'Marcos Senesi': '£2,600,000 ', 'Adam Armstrong': '£2,860,000 ', 'Nathan Collins': '£1,040,000 ', 'Gavin Kilkenny': '£40,000', 'Darwin Núñez': '£7,280,000 ', 'Ivan Perisic': '£9,360,000 ', 'Toti Gomes': '£260,000 ', 'Andreas Pereira': '£2,600,000 ', 'Adrian San Miguel del Castillo': '£3,016,000 ', 'Ben Davies': '£4,160,000 ', 'Zack Steffen': '£2,392,000', 'Andre Gomes': '£5,835,000', 'Martin Dubravka': '£2,080,000 ', 'Will Smallbone': '£900,000 ', 'Nicolas Pepe': '£7,280,000', 'Robin Olsen': '£4,160,000 ', 'Mislav Orsic': '£4,160,000 ', 'Emiliano Marcondes': '£780,000', 'Mason Mount': '£4,160,000 ', 'Nelson Semedo': '£4,160,000 ', 'Arthur Masuaku': '£2,080,000', 'Junior Stanislas': '£1,820,000 ', 'Brandon Aguilera': '£520,000 ', 'Jack Butland': '£1,820,000 ', 'Mateo Kovacic': '£5,200,000 ', 'Rhys Williams': '-', 'Abdoulaye Doucouré': '£6,240,000 ', 'Dominic Calvert-Lewin': '£5,200,000 ', 'Erling Haaland': '£19,500,000 ', 'Ryan Bertrand': '£4,160,000 ', 'Angelo Ogbonna': '£3,640,000 ', 'Conor Coventry': '£220,000', 'David Raya': '£1,300,000 ', 'Joe Hodge': '£260,000 ', 'Fabio Carvalho': '£2,080,000 ', 'Jean-Philippe Mateta': '£2,600,000 ', 'William Dennis': '£104,000', 'Richie Laryea': '£400,000', 'Pablo Marí': '£4,420,000', 'Jamaal Lascelles': '£2,080,000 ', 'Ellery Balcombe': '£170,000', 'Auston Trusty': '-', 'Gavin Bazunu': '£1,040,000 ', 'Pierre-Emile Hojbjerg': '£5,300,000 ', 'Stefan Bajcetic': '£2,080,000 ', 'Ben Mee': '£2,860,000 ', 'Mads Roerslev': '£520,000 ', 'Divin Mubama': '£208,000 ', 'Dejan Kulusevski': '£5,720,000 ', 'Ilya Zabarnyi': '£1,300,000 ', 'Jed Steer': '£1,040,000 ', 'Sergio Reguilón': '£2,500,000', 'Gonçalo Guedes': '£4,680,000 ', 'Tomas Soucek': '£3,380,000 ', 'Gabriel Jesus': '£13,780,000 ', 'Jean-Philippe Gbamin': '£3,900,000', 'Bernardo Silva': '£7,800,000 ', 'Marek Rodak': '£780,000 ', 'Kristoffer Ajer': '£1,820,000 ', 'Bryan Gil': '£2,080,000 ', 'Sylvester Jasper': '- ', 'Darren Randolph': '£1,300,000 ', 'Jamal Lewis': '£2,000,000 ', 'Virgil Van Dijk': '£11,440,000 ', 'Jarrad Branthwaite': '£780,000', 'Japhet Tanganga': '£1,300,000 ', 'Joel Matip': '£5,200,000 ', 'Thiago Silva': '£5,720,000 ', 'Calum Chambers': '£2,600,000 ', 'David Fofana': '£5,200,000 ', 'Morgan Gibbs-White': '£4,160,000 ', 'Braian Ojeda': '£550,000', 'Lewis Miley': '£260,000 ', 'Malo Gusto': '£2,340,000 ', 'Sam Johnstone': '£2,080,000 ', 'John McGinn': '£2,600,000 ', 'Keane Lewis-Potter': '£1,820,000 ', 'Ki-Jana Hoever': '£2,100,000', 'Jan Bednarek': '£3,120,000 ', 'Marcus Rashford': '£10,400,000 ', 'Mateusz Lis': '- ', 'Jaidon Anthony': '£1,300,000 ', 'Dwight McNeil': '£1,300,000 ', 'Jesse Lingard': '£10,400,000 ', 'Mads Bidstrup': '-', 'Rodrigo Hernández Cascante': '£11,440,000 ', 'Vladimir Coufal': '£1,820,000 ', 'Naby Keita': '£6,240,000 ', 'Gustavo Scarpa': '£780,000 ', 'Amadou Onana': '£5,200,000 ', 'Louie Moulden': '£260,000 ', 'Dan Burn': '£1,820,000 ', 'Jordan Ayew': '£1,820,000 ', 'Sam Surridge': '£780,000 ', 'Renan Lodi': '£3,240,000 ', 'Garang Kuol': '-', 'Asmir Begovic': '£2,340,000 ', 'Steven Sessegnon': '-', 'Kell Watts': '- ', 'Kurt Zouma': '£6,500,000 ', 'James Hill': '£156,000', 'Rodrigo Bentancur': '£3,900,000 ', 'Axel Tuanzebe': '£2,600,000', 'Alex Smithies': '£1,560,000 ', 'Matheus Cunha': '£1,560,000 ', 'Bruno Fernandes': '£12,480,000 ', 'Alisson Becker': '£7,800,000 ', 'Luke Plange': '£280,000', 'Martin Ødegaard': '£5,980,000 ', 'Josh Dasilva': '£1,040,000 ', 'Edward Nketiah': '£5,200,000 ', 'Tyrick Mitchell': '£2,080,000 ', 'Bernd Leno': '£4,680,000 ', 'Diego Carlos': '£5,200,000 ', 'Diego Rosa': '-', 'Donny van de Beek': '£6,240,000 ', 'Allan Saint-Maximin': '£2,000,000 ', 'Abdallah Sima': '£1,070,000', 'Ben Pearson': '£416,000', 'Carlos Vinícius': '£2,080,000 ', 'Álvaro Fernandez': '-', 'Julian Álvarez': '£5,200,000 ', 'Robert Sánchez': '£1,300,000 ', 'Onyinye Ndidi': '£3,900,000 ', 'Cheikhou Kouyate': '£2,340,000 ', 'Kyle Walker-Peters': '£1,200,000 ', 'Hannibal Mejbri': '£260,000 ', 'James Tomkins': '£2,600,000 ', 'Sasa Lukic': '£1,638,000 ', 'Michail Antonio': '£4,420,000 ', 'Danny Ings': '£6,500,000 ', 'Arthur Okonkwo': '£80,000', 'Jordan Zemura': '£4,160,000 ', 'Ryan Fraser': '£2,173,600 ', 'Fraser Forster': '£3,900,000 ', 'Joao Gomes': '£780,000 ', 'Carlos Alcaraz': '- ', 'Wesley Moraes': '£1,820,000', 'Ibrahima Diallo': '£2,860,000 ', 'Lucas Moura': '£4,680,000 ', 'Odsonne Edouard': '£4,680,000 ', 'Fabian Schar': '£2,080,000 ', 'Michal Karbownik': '£624,000', 'Jairo Riedewald': '£2,860,000 ', 'Terence Kongolo': '£1,140,000', 'Orel Mangala': '£1,560,000 ', 'Pape Sarr': '£520,000 ', 'Faustino Anjorin': '-', 'Vicente Guaita': '£4,004,000 ', 'Isaac Hayden': '£1,144,000', 'Ollie Watkins': '£3,900,000 ', 'Che Adams': '£1,560,000 ', 'Saïd Benrahma': '£2,860,000 ', 'Reece James': '£13,000,000 ', 'Ilkay Gundogan': '£7,280,000 ', 'Ryan Christie': '£1,560,000 ', 'Aymeric Laporte': '£6,240,000 ', 'Kalidou Koulibaly': '£15,340,000 ', 'Paulo Gazzaniga': '£700,000', 'Marcus Tavernier': '£1,040,000 ', 'Stuart Armstrong': '£3,380,000 ', 'Sven Botman': '£4,680,000 ', 'Boubacar Traoré': '£2,860,000 ', 'Jacob Ramsey': '£3,640,000 ', 'Emmanuel Dennis': '£2,080,000 ', 'Ludwig Augustinsson': '£1,040,000 ', 'Kenny Tete': '£2,650,000 ', 'Andrey Santos': '£520,000', 'Fabio Silva': '£4,160,000', 'Álex Moreno': '£1,820,000 ', 'Cody Gakpo': '£3,120,000 ', 'Lewis Dunk': '£3,900,000 ', 'Elliot Anderson': '£1,560,000 ', 'Benjamin Mendy': '£4,680,000 ', 'Javier Manquillo': '£1,820,000 ', 'Moise Kean': '£2,765,000', 'Ainsley Maitland-Niles': '£1,820,000 ', 'Frank Onyeka': '£1,300,000 ', 'Joao Virginia': '£520,000', 'Reiss Nelson': '£780,000 ', 'Sergi Canós': '£1,300,000', 'Ruben Dias': '£9,360,000 ', 'Alphonse Areola': '£6,240,000 ', 'Wout Weghorst': '£1,820,000 ', 'Emerson Palmieri': '£4,940,000 ', 'Andi Zeqiri': '£1,300,000', 'Harry Kane': '£10,400,000 ', 'Kortney Hause': '£420,000', 'Phil Foden': '£11,700,000 ', 'Bobby Reid': '£1,820,000 ', 'Max Kilman': '£780,000 ', 'Enzo Fernández': '£8,190,000 ', 'Philippe Coutinho': '£6,500,000 ', 'Nathan Patterson': '£1,456,000 ', 'Harvey Elliott': '£2,080,000 ', 'Layvin Kurzawa': '£4,640,000 ', 'Ezri Konsa': '£1,560,000 ', 'Samuel Edozie': '£780,000 ', 'Jose Moutinho': '£5,200,000 ', 'Loïc Mbe Soh': '£520,000', 'Marc Cucurella': '£9,100,000 ', 'Wilfried Zaha': '£6,760,000 ', 'Manuel Akanji': '£9,360,000 ', 'Aaron Hickey': '£1,560,000 ', 'Joe Rothwell': '£416,000 ', 'Callum Wilson': '£2,400,000 ', 'Stefan Ortega': '£2,860,000 ', 'José Sá': '£1,490,000 ', 'Benoit Badiashile': '£2,340,000 ', 'Brandon Williams': '£3,380,000 ', 'Carlos Casimiro': '£18,200,000 ', 'Paul Onuachu': '- ', 'Rob Holding': '£2,080,000 ', 'Conor Gallagher': '£2,600,000 ', 'Jordan Henderson': '£7,280,000 ', 'Andros Townsend': '£2,080,000 ', 'Edouard Mendy': '£2,860,000 ', 'Destiny Udogie': '£2,340,000 ', 'Pablo Sarabia': '£4,680,000 ', 'João Palhinha': '£2,600,000 ', 'Ederson Moraes': '£5,200,000 ', 'Nuno Tavares': '£1,404,000', 'Christian Nørgaard': '£1,820,000 ', 'Joe Aribo': '£3,640,000 ', 'Emile Smith Rowe': '£2,080,000 ', 'Nathaniel Phillips': '£3,360,000 ', 'Moussa Niakhaté': '£2,340,000 ', 'Hakim Ziyech': '£5,200,000 ', 'Malang Sarr': '£6,240,000', 'Frederico de Paula Santos': '£6,240,000 ', 'Scott McKenna': '£1,040,000 ', 'Jaden Philogene-Bidace': '£360,000', 'Flynn Downes': '£1,300,000 ', 'Giovani Lo Celso': '£3,640,000', 'Hamed Traorè': '- ', 'Moises Caicedo': '£780,000 ', 'Lyanco Vojnovic': '£1,820,000 ', 'Bukayo Saka': '£3,640,000 ', 'Gabriel Magalhães': '£2,600,000 ', 'Tosin Adarabioyo': '£2,110,000 ', 'Jakub Kiwior': '£1,508,000 ', 'Kelechi Iheanacho': '£4,160,000 ', 'Christian Eriksen': '£7,800,000 ', 'Pervis Estupiñán': '£2,660,000 ', 'Julio Enciso': '£520,000 ', 'Marvelous Nakamba': '£1,560,000', 'Luke Shaw': '£7,800,000 ', 'Anthony Knockaert': '£1,950,000', 'Sékou Mara': '£1,300,000 ', 'Jonny Otto': '£1,820,000 ', 'Billy Gilmour': '£1,040,000 ', 'Tom Heaton': '£2,180,000 ', 'Nathaniel Clyne': '£4,200,000 ', 'Kjell Scherpen': '£1,040,000', 'Naouirou Ahamada': '£1,040,000 ', 'Roberto Firmino': '£9,360,000 ', 'Neal Maupay': '£2,600,000 ', 'Danny Ward': '£2,080,000 ', 'Neco Williams': '£2,600,000 ', 'Matt Targett': '£5,200,000 ', 'Leon Bailey': '£5,200,000 ', 'Daniel Bentley': '£520,000 ', 'Arnaut Danjuma': '£624,000 ', 'Alfie Whiteman': '£390,000', 'Alex Mighten': '£180,000', 'Kaoru Mitoma': '£520,000 ', 'Eberech Eze': '£1,560,000 ', 'Lucas Paquetá': '£7,800,000 ', 'Douglas Luiz': '£3,900,000 ', 'Jacob Murphy': '£1,820,000 ', 'Niels Nkounkou': '£230,000', 'Harry Winks': '£2,600,000', 'Dominic Solanke': '£2,600,000 ', 'Nathan Baxter': '£1,560,000', 'Alexander Isak': '£6,240,000 ', 'Luka Milivojevic': '£3,900,000 ', 'Deniz Undav': '-', 'Adam Webster': '£2,860,000 ', 'Brennan Johnson': '£1,560,000 ', 'Curtis Jones': '£780,000 ', 'Oliver Skipp': '£2,080,000 ', 'Jeffrey Schlupp': '£2,600,000 ', 'Bryan Mbeumo': '£2,340,000 ', 'Takehiro Tomiyasu': '£2,910,000 ', 'Jordan Smith': '£130,000 ', 'Nathan Broadhead': '-', 'Adam Lallana': '£4,700,000 ', 'Levi Colwill': '£260,000', 'James Milner': '£3,120,000 ', 'Tyrese Francois': '£364,000', 'Pedro Porro': '£2,210,000 ', 'Ibrahima Konate': '£3,640,000 ', 'Omar Richards': '£1,560,000 ', 'Malcolm Ebiowei': '£520,000', 'Heung-Min Son': '£9,880,000 ', 'Will Hughes': '£1,820,000 ', 'Rayan Aït-Nouri': '£520,000 ', 'Serge Aurier': '£1,820,000 ', 'Vitaliy Mykolenko': '£3,016,000 ', 'Teden Mengi': '£260,000 ', 'George Wickens': '£260,000 ', 'Jason Steele': '£1,040,000 ', 'Harry Maguire': '£9,875,000 ', 'Dennis Praet': '£3,900,000 ', 'Calvin Ramsay': '£780,000 ', 'Ruben Vinagre': '£1,250,000 ', 'Wesley Fofana': '£10,400,000 ', 'Willian da Silva': '£2,080,000 ', 'Harry Wilson': '£1,820,000 ', 'Pedro Neto': '£2,600,000 ', 'Joe Willock': '£4,160,000 ', 'Steven Alzate': '£780,000', 'Raphael Varane': '£17,680,000 ', 'Andre Ayew': '- ', 'Pontus Jansson': '£1,300,000 ', 'Ethan Horvath': '£890,000', 'João Félix': '£5,720,000 ', 'Kacper Kozlowski': '-', 'Pablo Fornals': '£3,380,000 ', 'Jadon Sancho': '£13,000,000 ', 'Karl Darlow': '£1,560,000', 'Shane Duffy': '£2,080,000 ', 'Tom Davies': '£1,300,000 ', 'Baba Rahman': '£4,470,000', 'Maxwel Cornet': '£3,380,000 ', 'Harry Arter': '£1,160,000 ', 'Matt Ritchie': '£2,340,000 ', 'Mathias Jensen': '£1,040,000 ', 'Arthur Melo': '£5,720,000 ', 'Luis Díaz': '£2,912,000 ', 'Hugo Lloris': '£5,200,000 ', 'Halil Dervişoğlu': '£420,000', 'Mark Gillespie': '£600,000 ', 'Alexis Mac Allister': '£2,600,000 ', 'Aaron Wan-Bissaka': '£4,680,000 ', 'Cristian Romero': '£8,580,000 ', 'Mason Holgate': '£3,640,000 ', 'Yerry Mina': '£6,240,000 ', 'Patson Daka': '£3,900,000 ', 'Kepa Arrizabalaga': '£7,800,000 ', 'Mohammed Salisu': '£1,300,000 ', 'Remi Matthews': '£280,000', 'Jakub Moder': '£520,000 ', 'Ben Johnson': '£1,040,000 ', 'Kevin De Bruyne': '£20,800,000 ', 'James Justin': '£1,560,000 ', 'Pascal Gross': '£3,120,000 ', 'Tiemoué Bakayoko': '£5,720,000', 'Jack Grealish': '£15,600,000 ', 'Riyad Mahrez': '£8,320,000 ', 'David De Gea': '£19,500,000 ', 'Leandro Trossard': '£2,340,000 ', 'Romelu Lukaku': '£16,900,000', 'Joel Veltman': '£2,000,000 ', 'Kyle Walker': '£8,320,000 ', 'Cesare Casadei': '-', 'Joe Rodon': '£500,000', 'Trevoh Chalobah': '£2,600,000 ', 'Boubacar Kamara': '£7,800,000 ', 'Kai Havertz': '£7,800,000 ', 'Aaron Connolly': '£1,196,000', 'Joel Ward': '£1,820,000 ', 'Saman Ghoddos': '£780,000 ', 'Wayne Hennessey': '£780,000 ', 'Facundo Pellistri': '£1,040,000 ', 'Jordan Pickford': '£5,200,000 ', 'Carlos Miguel Ribiero Dias': '£520,000 ', 'Cole Palmer': '£1,040,000 ', 'Kevin Mbabu': '£2,080,000', 'Armando Broja': '£2,080,000 ', 'Caoimhin Kelleher': '£520,000 ', 'Marc Albrighton': '£2,340,000 ', 'James Tarkowski': '£5,200,000 ', 'Marcel Sabitzer': '£2,860,000 ', 'Danny Welbeck': '£2,860,000 ', 'Amad Diallo': '£1,500,000', 'Haydon Roberts': '£1,520,000', 'Djed Spence': '£1,300,000', 'Lucas Digne': '£6,240,000 ', 'César Azpilicueta': '£9,360,000 ', 'Ben Chilwell': '£9,880,000 ', 'Manuel Lanzini': '£3,640,000 ', 'Tyrese Fornah': '-', 'Yoane Wissa': '£1,040,000 ', 'Dango Ouattara': '£1,820,000 ', 'Jamie Vardy': '£7,280,000 ', 'Matheus Nunes': '£4,420,000 ', 'James Bree': '- ', 'Andreas Söndergaard': '- ', 'Cheick Doucouré': '£3,120,000 ', 'Armel Bella-Kotchap': '£780,000 ', 'Granit Xhaka': '£6,240,000 ', 'Pierre-Emerick Aubameyang': '£8,320,000 ', 'Jonjo Shelvey': '£3,900,000 ', 'Mikkel Damsgaard': '£1,560,000 ', 'Thomas Strakosha': '£1,300,000 ', "Lewis O'Brien": '£780,000', 'Jack Colback': '£780,000 ', 'Lewis Cook': '£2,080,000 ', 'Joachim Andersen': '£4,160,000 ', 'Paul Dummett': '£1,820,000 ', 'Alex Telles': '£4,840,000', 'Filip Stevanovic': '-', 'Alex McCarthy': '£2,600,000 ', 'Boubakary Soumaré': '£4,160,000 ', 'Mason Greenwood': '£3,900,000 ', 'Taiwo Awoniyi': '£2,600,000 ', 'Willy Boly': '£2,080,000 ', 'Tyrone Mings': '£4,160,000 ', 'Denis Zakaria': '£4,680,000 ', 'Marcus Bettinelli': '£1,820,000 ', 'Emerson Royal': '£2,170,000 '}

In [ ]:
# Creating a full name column to match the keys in the merged dict
data['Full Name'] = data['First Name'] + ' ' + data['Last Name']

In [ ]:
# Creating the wages column using the values in the merged dict
data['Wages'] = data['Full Name'].map(merged_dict)

In [ ]:
data.head()

,First Name,Last Name,Age,Nationality,Height,Weight,Team Name,League,Appearances,Lineups,...,Fouls Committed,Yellow Cards,Red Cards,Penalties Won,Penalties Committed,Penalties Scored,Penalties Missed,Penalties Saved,Full Name,Wages
0,Oleksandr,Zinchenko,27,Ukraine,175 cm,64 kg,Arsenal,Premier League,27,22,...,15,3,0,0,0,0,0,0,Oleksandr Zinchenko,"£7,800,000"
1,Thomas,Partey,30,Ghana,185 cm,77 kg,Arsenal,Premier League,33,28,...,37,5,0,0,0,0,0,0,Thomas Partey,"£10,400,000"
2,Kai,Havertz,24,Germany,193 cm,83 kg,Arsenal,Premier League,12,30,...,60,5,0,0,0,1,0,0,Kai Havertz,NaN
3,Bukayo,Saka,22,England,178 cm,72 kg,Arsenal,Premier League,20,9,...,43,6,0,0,0,2,0,0,Bukayo Saka,NaN
4,Leandro,Trossard,29,Belgium,172 cm,61 kg,Arsenal,Premier League,14,16,...,9,0,0,0,0,0,0,0,Leandro Trossard,"£2,340,000"

In [ ]:
#Checking to see if there are any missing values left
print(data.isnull().sum())

First Name               0
Last Name                0
Age                      0
Nationality              0
Height                   0
Weight                   0
Team Name                0
League                   0
Appearances              0
Lineups                  0
Minutes                  0
Number                   0
Position                 0
Rating                   0
Captain                  0
In                       0
Out                      0
Bench                    0
Total Shots              0
On Target Shots          0
Total Goals              0
Conceded Goals           0
Assists                  0
Saves                    0
Total Passes             0
Key Passes               0
Pass Accuracy            0
Total Tackles            0
Blocks                   0
Interceptions            0
Total Duels              0
Duels Won                0
Dribble Attempts         0
Dribble Success          0
Past Dribbles            0
Fouls Drawn              0
Fouls Committed          0
Yellow Cards             0
Red Cards                0
Penalties Won            0
Penalties Committed      0
Penalties Scored         0
Penalties Missed         0
Penalties Saved          0
Full Name                0
Wages                  331
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   First Name           406 non-null    object
 1   Last Name            406 non-null    object
 2   Age                  406 non-null    int64
 3   Nationality          406 non-null    object
 4   Height               406 non-null    object
 5   Weight               406 non-null    object
 6   Team Name            406 non-null    object
 7   League               406 non-null    object
 8   Appearances          406 non-null    int64
 9   Lineups              406 non-null    int64
 10  Minutes              406 non-null    int64
 11  Number               406 non-null    int64
 12  Position             406 non-null    object
 13  Rating               406 non-null    float64
 14  Captain              406 non-null    int64
 15  In                   406 non-null    int64
 16  Out                  406 non-null    int64
 17  Bench                406 non-null    int64
 18  Total Shots          406 non-null    int64
 19  On Target Shots      406 non-null    int64
 20  Total Goals          406 non-null    int64
 21  Conceded Goals       406 non-null    int64
 22  Assists              406 non-null    int64
 23  Saves                406 non-null    int64
 24  Total Passes         406 non-null    int64
 25  Key Passes           406 non-null    int64
 26  Pass Accuracy        406 non-null    int64
 27  Total Tackles        406 non-null    int64
 28  Blocks               406 non-null    int64
 29  Interceptions        406 non-null    int64
 30  Total Duels          406 non-null    int64
 31  Duels Won            406 non-null    int64
 32  Dribble Attempts     406 non-null    int64
 33  Dribble Success      406 non-null    int64
 34  Past Dribbles        406 non-null    int64
 35  Fouls Drawn          406 non-null    int64
 36  Fouls Committed      406 non-null    int64
 37  Yellow Cards         406 non-null    int64
 38  Red Cards            406 non-null    int64
 39  Penalties Won        406 non-null    int64
 40  Penalties Committed  406 non-null    int64
 41  Penalties Scored     406 non-null    int64
 42  Penalties Missed     406 non-null    int64
 43  Penalties Saved      406 non-null    int64
 44  Full Name            406 non-null    object
 45  Wages                75 non-null     object
dtypes: float64(1), int64(35), object(10)
memory usage: 146.0+ KB

In [ ]:
# Convert the dictionary to a DataFrame
df_name_wage = pd.DataFrame(list(merged_dict.items()), columns=['name', 'wage'])

In [ ]:
df_name_wage.to_csv('name_wage.csv',index=False)

In [ ]:
data.to_csv('final_dataset.csv',index=False)